[2014-01-07 18:44] jcenturion opened #1 "Migrate repository to mulesoft organization"

[2014-01-07 18:44] jcenturion opened #2 "Add Cache to ramlfile finders"

[2014-01-07 18:45] jcenturion opened #3 "Integrate ramlRouting with default params"

[2014-01-07 18:45] jcenturion opened #4 "Add testing to validations middleware"

[2014-01-07 18:45] jcenturion opened #5 "Add support to Basic Auth"

[2014-01-07 18:45] jcenturion opened #6 "Add support to OAuth 1.0"

[2014-01-07 18:46] jcenturion opened #7 "Add support to OAuth 2.0"

[2014-01-07 18:46] jcenturion opened #8 "Add exception handle in middleware"

[2014-01-07 18:46] jcenturion opened #9 "Validate xml schema"

[2014-01-07 18:49] jcenturion opened #10 "Update package.json to support npm publishing"

[2014-01-07 18:49] #10 closed, assigned to jcenturion

[2014-01-07 19:46] jcenturion opened #11 "Add a grunt task to deploy to npm"
https://github.com/vojtajina/grunt-npm

[2014-01-08 18:23] jcenturion opened #12 "If the header accept is not present or if */* the api should default to the first content type available"

[2014-01-09 17:33] #1 closed, assigned to nobody

[2014-02-03 19:20] dmartinezg opened #13 "An application should be able to return custom responses on validation errors."

[2014-02-10 21:58] #13 closed, assigned to jcenturion

[2014-02-10 21:58] #8 closed, assigned to jcenturion

[2014-02-12 03:30] #12 closed, assigned to jcenturion

[2014-02-18 17:29] #4 closed, assigned to jcenturion

[2014-02-24 20:19] #9 closed, assigned to nobody

[2014-02-24 20:19] #3 closed, assigned to nobody

[2014-02-28 21:01] blakeembrey opened #14 "Should generate an express app"
If I were using osprey, I would expect that it would create a express application which I could then use however I see fit. This means I could mount it to my normal application or use it as the base of the application. There are also a lot of benefits to this approach:

* Osprey applications will be self contained and don't affect parts of the users application
* The osprey app can be mounted any

[2014-03-06 20:40] jcenturion opened #15 "libxml dependency should be configurable"
libxml is not working on Windows environment. So, it would be great to make it configurable.

[2014-03-07 14:40] jcenturion opened #16 "Start using latests version of RAML-Parser"

[2014-03-28 20:15] cmordue opened #17 "Raml file is served with incorrect content type"
Osprey serves the raml file with
Content-type: application/octet-stream
this causes the file to be downloaded instead of being viewed in the browser.

How about using the following?
Content-type: text/yaml

[2014-03-29 01:20] cmordue opened #18 "console paths assume fixed protocol, host and port"
It doesn't matter what the express app is configured, osprey always serves the paths in the console with http://localhost:3000/<basepath>

The protocol could be http or https.
The host may or may not be localhost.
The port may or may not be 3000.

But at least the base path is respected.

[2014-03-29 01:36] cmordue opened #19 "Raml file is served on two routes."
Both the /<basePath> and /<basePath>/api.raml serve the raml file. Shouldn't only one of them do this?
I'd imagine /<basePath>/api.raml is the correct path.

[2014-03-29 01:40] cmordue opened #20 "raml file does not have baseUri replaced in it"
the baseUri property of the raml file should be updated with the servers actual full path (protocol, host, [port,] path).

This does not happen at all for the raml served at /<basePath>/api.raml.
The incorrect url is substituted for the raml served at /<basePath> (It always puts http://localhost:3000/<basePath>). The protocol and port are ignored and probably the host as well.

[2014-04-01 18:17] athieme opened #21 "osprey.create should take a done callback"
it appears osprey.create does some async stuff and so a caller should be able to pass a done function and be called when this async process completes -- i.e. setting up routes, etc. without the callback, we have to put waits in our code

[2014-04-01 22:18] #17 closed, assigned to nobody

[2014-04-02 22:18] julson opened #22 "Not overwriting resources when osprey gets created multiple times"
Running my integration tests involves having to initialize osprey multiple times, but it fails to overwrite the resources on subsequent test runs (I’m not seeing the ‘RAML successfully loaded’ message and the ‘Overwritten resource’ messages anymore after the first test). This causes the tests to fail since supertest start getting mocked results. It looks like the file is being cached based on the

[2014-04-29 14:59] #18 closed, assigned to jcenturion

[2014-04-29 14:59] nohorbee opened #23 "Strict Mode"
- Turn off mocks for production
- Turn off debug logging for production
- Warn about not overwritten resources
- Block unknown routes using 404

[2014-04-29 14:59] nohorbee opened #24 "Create a project website"
Possibly Github Pages

[2014-04-29 15:00] #21 closed, assigned to jcenturion

[2014-04-29 15:05] nohorbee opened #25 "Improve documentation"
- Write sample projects
- Document through Jukebox (step-by-step tutorial)

[2014-04-29 15:09] nohorbee opened #26 "Integrate with Travis CI"

[2014-04-29 15:10] nohorbee opened #27 "Check responses for development"
This will warn through logging if the response is correct. Example: if a response header is ok based on RAML or if all the required headers are being send on response.

[2014-04-30 20:37] #22 closed, assigned to nobody

[2014-05-13 17:55] xaka opened #28 "Font Awesome assets are missing"
![screen shot 2014-05-13 at 10 54 20 am](https://cloud.githubusercontent.com/assets/504813/2961540/c005065c-dac7-11e3-944a-cdd55da15290.png)

[2014-05-13 18:52] #28 closed, assigned to nobody

[2014-05-16 18:26] nohorbee opened #30 "Osprey hiding app exceptions"
If I **throw an exception**\* (ie: call `null.a.b`) in a method of one of my controllers that gets called on a route defined inside osprey api wrapper, **that exception isn't shown** on the terminal and a 404 response is returned to the client.

One probable cause is that exception are not re-thrown inside `.catch` handler on osprey promise chain.

[2014-05-19 18:32] #26 closed, assigned to jcenturion

[2014-05-19 18:35] #25 closed, assigned to nobody

[2014-05-19 18:37] #2 closed, assigned to nobody

[2014-05-19 18:42] #20 closed, assigned to nobody

[2014-05-20 17:20] #16 closed, assigned to nobody

[2014-05-21 00:35] #30 closed, assigned to nobody

[2014-05-22 15:53] gimballock opened #33 "Console doesn't load"
Trying to load console with the project generated from example league.raml, I see the following content from http://localhost:3000/api/console:
{"context":"while fetching /api/","context_mark":null,"message":"cannot fetch /api/ (while fetching /api/\ncannot fetch /api/ (NetworkError: A network error occurred.), check that the server is up and that CORS is enabled)","problem_mark":null}

From the c

[2014-05-22 21:07] blakeembrey opened #34 "Doesn't validate RAML schema is valid JSON"
https://github.com/mulesoft/osprey/blob/master/src/middlewares/validation.coffee#L63 doesn't check it can actually parse JSON before crashing

[2014-05-22 21:43] blakeembrey opened #35 "Can't specify Osprey as root path"
Using `/` builds invalid urls while an empty string will throw an error.

[2014-05-23 04:05] blakeembrey opened #38 "Nested URI parameter validation"
Osprey does not provide validation for nested resources that have URI validation. For example, the below resource will validate `apiVersionId` if the path is `/abc/123`, while `apiId` will only validate when the path is `/123`.

[code]

[2014-05-23 04:22] blakeembrey opened #39 "Can't use console with other middleware"
Registering the console triggers express to mount the router middleware, which is occurring before any Osprey middleware is registered since it's async. The best fix for this would be to make Osprey mount "placeholder" middlewares that don't do anything until the async raml is loaded.

[2014-05-23 04:25] blakeembrey opened #40 "Osprey required validation is broken"
When using the `required: false` flag, it will still attempt to validate the type even when it's empty.

[2014-05-24 01:19] gimballock opened #41 "Validation not accessible to service call implementation."
It appears the validation service is privately held by the Osprey object.  If it is made public then service call implementer won't need to re-implement validation.

[2014-05-24 02:07] blakeembrey opened #42 "Provide information when an error occurs"
When a validation error is thrown, no information is provided. It'd be useful if the property, value, validation, etc. was passed with the error message.

[2014-05-24 02:59] #39 closed, assigned to blakeembrey

[2014-05-24 07:44] blakeembrey opened #45 "Impossible to define route with conjoined params"
For example, `/{userId}{mediaTypeExtension}` can't be used. The route generated is invalid.

[2014-05-24 07:50] blakeembrey opened #46 "Impossible to define a route with trailing text"
Because of the way route generation is happening, you can't define a route like `/{param}test`.

[2014-05-25 00:26] #38 closed, assigned to blakeembrey

[2014-05-25 00:30] #40 closed, assigned to blakeembrey

[2014-05-25 01:20] #33 closed, assigned to nobody

[2014-05-25 01:29] jcenturion opened #49 "Osprey silently fails if body does not have content-type in a PATCH"
if you have a RAML like:

[code]

Osprey silently fails

[2014-05-25 03:56] #49 closed, assigned to nobody

[2014-05-26 19:31] #41 closed, assigned to nobody

[2014-05-27 01:14] blakeembrey opened #52 "Can't create more than one instance with exception handlers"
The passed in exception handlers override the defaults, which means any future Osprey instances will inherit from the first one and any future exception handlers will override past ones.

[2014-05-29 16:37] developerworks opened #54 "line 58 of "src/middlewares/validation.coffee" file include a unnecessary trailing semicolon"
[code]

[2014-06-02 18:33] #54 closed, assigned to nobody

[2014-06-11 09:57] leyyinad opened #55 "API Console broken when using !include"
When using !include (relative paths, included files are in the same folder as the RAML-file), the API Console gets the paths wrong, displaying:

[code]

This has been working until [this commit](https://github.com/mulesoft/osprey/commit/f5c8f3be217fa25b88a1d238f70f372353976e08). So if I add the trailing slash in [line 14 in `dist/assets/console/index.html`](https://github.com/mulesoft/osprey/blob/

[2014-06-11 12:46] #55 closed, assigned to nobody

[2014-08-12 18:37] mcorbanini opened #60 "Allow using middlewares when defining a new api."
I need to define authenticated apis using passport authentication method and a custom object that handle permissions.

If I define this api example against express `app`, it work as well. But with the object that `osprey.create` returns, it always gives me `404`:

[code]

Thanks!

[2014-08-27 19:34] eibrahim opened #61 "API returns 404 for everything"
It doesn't matter what I do, trying any of the API calls returns 404 and even calling the api directly from the browser returns 404.  I even tried your example on github and it return 404 as well... any ideas?

[2014-11-05 09:26] cybertk opened #63 "osprey does not work with express 4"
Given the following code which integrate osprey with express4. It returns `Cannot GET /api/xxx` for every path.

[code]

[2015-02-03 09:42] blakeembrey commented on #61
@eibrahim Did you manage to get everything working?

[2015-02-03 09:42] #61 closed

[2015-02-03 09:47] blakeembrey commented on #63
Hi @cybertk, I've spent the last couple of weeks with a complete rewrite that'll work with any Express-compatible middleware. Feel free to check it, but it won't be available on `npm` yet since there's a couple of things still missing. But I'd love to hear feedback on whether it solves some of your needs :smile:

[2015-02-03 09:47] #63 closed

[2015-02-03 09:50] #11 closed

[2015-02-03 09:53] #24 closed

[2015-02-03 09:54] #34 closed

[2015-02-03 09:55] #42 closed

[2015-02-03 09:58] #45 closed

[2015-02-03 10:17] blakeembrey commented on #14
@cybertk I'm not after a scaffolding tool, I am after a mountable application instance (or middleware). Have a look at `master` for the rebuild Osprey instance I've been working on, it can work with Connect, Express or even HTTP servers which allowed me to build some more powerful concepts into the library.

[2015-02-03 10:17] #14 closed

[2015-02-03 16:45] #23 closed, assigned to jcenturion

[2015-02-04 01:35] cybertk commented on #14
Great

[2015-03-02 16:59] jewelsjacobs commented on #63
@blakeembrey I'd love to get my hands on this rewrite too . . .

[2015-03-02 17:01] blakeembrey commented on #63
@jewelsjacobs At the moment it's only installable from git, so you should be able to do `npm install mulesoft/osprey`. I can look at tagging an alpha release tomorrow if you're interested :+1:

[2015-03-02 18:25] jewelsjacobs commented on #63
awesome!  thanks so much!

[2015-03-02 19:46] jewelsjacobs commented on #63
eh hate to bug you again @blakeembrey but I can't seem to get the new version of osprey to work with api-designer.

I used to have this:

[code]

I'm trying to figure out how to use the sample you provide in the REAME but not having much luck. :(

[2015-03-03 14:28] blakeembrey commented on #63
@jewelsjacobs Would you mind creating a new issue with the error or something you've received? There isn't currently a mocking service yet, but it'd be easy to add example responses if that's your issue.

[2015-03-03 15:54] jewelsjacobs commented on #63
@blakeembrey thats exactly what I'm looking for.  The ability to mock out the example responses from the api designer.

[2015-03-03 16:07] blakeembrey commented on #63
@jewelsjacobs Was that your issue or was it technical? I can push a module for this at the end of the week, but I was disputing whether it should be a separate module (doesn't seem like core functionality to me). For example, you would just do `ospreyExampleServer(raml)` instead of creating the same type with an option.

[2015-03-03 16:41] jewelsjacobs commented on #63
@blakeembrey this is probably better as a separate module.  I probably have to hack it out on my own.

Its a little difficult as I'm saving the assets to a mongodb as opposed to a folder on the server.

You can see what I'm doing in my repo here although I'm updating this in a major way (https://github.com/jewelsjacobs/raml-osprey-api-designer/blob/master/routes/files.js).  I'm trying to combine a

[2015-03-03 17:39] blakeembrey commented on #63
Ok, I'll look at publishing the examples module for you to review the implementation but the issue of having to both write and save to mongodb shouldn't exist anymore. I'm accepting the parsed object, so you should just be able to override the file reader of the `raml-parser` to instead read from mongodb. Then just pass that object to Osprey 2.

[2015-03-03 18:00] jewelsjacobs commented on #63
@blakeembrey I updated my repo with the latest of what I have: https://github.com/jewelsjacobs/raml-osprey-api-designer

It should give you a better idea of what I'm doing.  I'm saving the files to the db and folder now successfully (code in repo does this) but I can also read from mongodb as well.

The code in the repo with the npm module version of osprey (not the github `npm install mulesoft/os

[2015-03-03 19:17] jewelsjacobs commented on #63
Oh I guess I have to always name my file api.raml with this setup :)

[2015-03-05 08:13] blakeembrey commented on #63
@jewelsjacobs That error is not from my code, it's the old Osprey version. Not sure what you're asking, but I am going to build the example server (probably next week). You shouldn't need to use `api.raml` as the filename either. In fact, the new Osprey version doesn't even read files.

[2015-03-07 18:19] jewelsjacobs opened #64 "Cannot find module 'router/engine' error from osprey-router"
There's an osprey-router error that crashes `osprey@0.2.0-alpha node_modules/osprey` when running with expressJS v4+ and latest version of nodeJS

Here are the details:
https://github.com/mulesoft-labs/osprey-router/issues/1

Thanks for all of your hard work with this!

[2015-03-07 18:51] blakeembrey commented on #64
@jewelsjacobs Yeah, that dependency should be loading from git but I guess it keep loading from an internal cache instead because it's the same version. The only fix I can think of right now is manually linking, at least until `router` is released with engine support (https://github.com/pillarjs/router/pull/13).

[2015-03-07 19:54] dougwilson commented on #64
Just run

    npm cache clean

Then reinstall your dependencies and it should pull for the git fork. And yes, I believe it's because the fork has the same version number and npm's cache is confused.

[2015-03-07 23:46] jewelsjacobs commented on #64
@blakeembrey sorry to bug you folks with this but I'm not sure what and where I should be manually linking as a temp workaround for this.

Can you please clarify?

[2015-03-08 01:05] jewelsjacobs commented on #64
I solved the mystery as to why your router branch with engine support was not working @blakeembrey:

https://github.com/blakeembrey/router/pull/1

[2015-03-08 02:09] blakeembrey commented on #64
Wow, thanks! Sorry I missed that :+1:

[2015-03-08 02:09] #64 closed

[2015-03-09 23:33] jewelsjacobs opened #65 "Mock data module roadmap?"
Hi!

I was wondering if there was some code somewhere I could hack on with the beginnings of the mock data cli module for osprey 0.2.0-alpha.

I'm starting to use that app I have and could REALLY REALLY use the ability to serve the example json responses as mock data based on the baseUrl and defined routes in the raml.

If there isn't anything hacked out yet, any pointers would be most helpful.

T

[2015-03-10 13:08] blakeembrey commented on #65
Hi @jewelsjacobs! There's nothing available yet and I'm flying the next couple of days, but expect something after that. Feel free to give it a shot too, it should just be a matter of iterating over the RAML object after you've attached Osprey and attaching a bunch of response handles based on the examples. However, I'll probably get around to this end at the end of the week too :smile:

[2015-03-10 14:46] jewelsjacobs commented on #65
Hey @blakeembrey! I'll see if I can hack something out while you're out and about. Enjoy your travels. :globe_with_meridians:

[2015-03-16 13:05] zentoaku opened #66 "Not possible to install"
Not possible to install via `npm install osprey -g` (Linux Mint 16 Petra)
[code]

[2015-03-16 13:34] blakeembrey commented on #66
Hi @zentoaku! Could you make sure `libxml` is installed using `sudo apt-get install libxml2-dev`? I've not tried installing on Linux, so please let me know :smile:

[2015-03-18 20:45] blakeembrey commented on #65
@jewelsjacobs Sorry for the delay! Things are crazy but I managed to get some code in and push out https://github.com/mulesoft-labs/osprey-mock-service for you to try. Let me know if it works for you :smile:

[2015-03-18 20:45] #65 closed

[2015-03-20 22:20] jewelsjacobs opened #67 "Add proxy support for baseUri"
See details here: https://github.com/mulesoft-labs/osprey-mock-service/issues/2

[2015-03-24 18:28] blakeembrey commented on #67
Hey! I'm going to keep this issue open on the mock service, but I don't think this belongs in Osprey. It's not really an API design pattern that should be promoted. If you have two major API versions, they'll usually be kept separate and routed to via a proxy like nginx. However, mocking-wise, it makes perfect sense to properly reflect the full URL. If you have an API you're trying to do this in a

[2015-03-24 18:28] #67 closed

[2015-05-04 02:30] blakeembrey commented on #66
I'm going to close this issue. `libxmljs` has been moved to an optional dependency and you'll need to find a way for it to build if you want to do XML validation. If you aren't using XML validation, it shouldn't matter.

[2015-05-04 02:30] #66 closed

[2015-06-20 06:11] trsouz commented on #5
+1

[2015-06-20 06:11] trsouz commented on #6
+1

[2015-06-20 06:11] trsouz commented on #7
+1

[2015-06-20 06:48] blakeembrey commented on #15
`libxmljs` has been made configurable with the `0.2.x` release.

[2015-06-20 06:48] #15 closed

[2015-06-26 00:15] blakeembrey opened #69 "Add example applications"
We should create some interesting examples that show how Osprey works with different implementations, etc.

**Engines**

* Express
* Connect
* Restify
* HTTP

**Features**

* OAuth
* Authentication

Anything else that would be interesting?

[2015-06-26 05:36] sichvoge commented on #69
How to create a mocking service with Osprey?!

[2015-06-26 17:29] blakeembrey commented on #69
@sichvoge You mean like https://github.com/mulesoft-labs/osprey-mock-service? We could link to it in the `examples` directory, but I'm wearing of duplicating the implementation.

[2015-07-13 16:53] davidfells opened #70 "No "loadFile" method on local install of Osprey"
Installed per directions (npm install osprey --save) along with the example script (from the Readme)

TypeError: Object #<Object> has no method 'loadFile'
    at Object.<anonymous> (/Users/david_fells/projects/inmar_cdm/index.js:6:8)
    at Module._compile (module.js:456:26)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (

[2015-07-13 18:39] davidfells commented on #70
Cloning the repo into my node_modules directory then running npm install inside the osprey directory seems to let the app run. Not the process I would've expected, however. Is that the intended use?

[2015-07-13 18:42] SimenB commented on #70
Probably a dependency that's a devDep that should have been a regular dep

[2015-07-14 00:11] blakeembrey commented on #70
@davidfells What version of Osprey did you have installed?

[2015-07-17 16:06] davidfells commented on #70
It's whatever you get from a regular npm install. I've since removed it from my project, but it was reproduceable by npm installing it and looking at the payload.

[2015-07-17 22:49] blakeembrey commented on #70
@davidfells Mine installs `osprey@0.1.1` if I don't specify the version, and that release is an entirely different beast to the current release on `master`. Look at that release here: https://github.com/mulesoft/osprey/tree/0.1.x. If you want to install the latest version on `master`, try `npm i osprey@0.2.0-beta.1`.

[2015-07-17 22:49] #70 closed

[2015-07-20 16:06] davidfells commented on #70
I'll try that and report back. Thanks

[2015-07-29 05:00] #5 closed

[2015-07-29 05:01] blakeembrey commented on #7
Closes with #71

[2015-07-29 05:01] #7 closed

[2015-07-29 05:03] blakeembrey opened #72 "Add support for `describedBy` with OAuth 2.0"
RAML supports `describedBy` as a method for selecting how the access token is passed, but it's kind of freeform and doesn't describe any parsing rules or way to select one over the other, etc.

[2015-08-01 09:37] sirapu opened #73 "Installation fails with node v0.12"
Hi together,

Installation fails with node v0.12  -  specially libxmljs fails. For node v0.12 I use libxmljs@0.14
Though I could succesfully install the osprey-mockup-service.

 /usr/local/lib/node_modules/npm/bin/node-gyp-bin/node-gyp: line 3: node: command not found
npm WARN engine hawk@0.10.2: wanted: {"node":"0.8.x"} (current: {"node":"0.12.7","npm":"2.12.1"})
npm WARN engine cryptiles@0.1.3:

[2015-08-01 19:14] blakeembrey commented on #73
@sirapu `libxmljs` has been an optional dependency for a while, but with the latest code on `master` its been removed altogether and made a manual install. What version of Osprey are you trying to use? I'll make a release of master now too, since there's been some API changes.

[2015-08-05 20:24] blakeembrey commented on #73
Closing this for now. Let me know if you have issues installing the latest version.

[2015-08-05 20:24] #73 closed

[2015-08-05 20:26] blakeembrey opened #74 "Expose params across routers"
Osprey is validating parameters of the router automatically, but you still have to define subsequent parameters. There should be an option, like `strict`, that allows parameters from previous router instances to fall through without having to be redefined.

[2015-08-10 10:23] greenrd opened #75 "API version is not enforced"
The RAML spec is not very clear on this point, but Osprey allows anything to be supplied as the {version} parameter in the baseUri, in the actual URL - it does not check that the value of {version} in the actual URL matches the API version declared. Shouldn't it check?

[2015-08-10 10:43] greenrd commented on #75
P.S. we are using https://github.com/mulesoft-labs/osprey-mock-service - not sure whether I should have filed this issue against this repo or that repo.

[2015-08-10 16:26] blakeembrey commented on #75
@greenrd You're right, the check isn't currently enforced. It's a quick patch and it definitely helps to log it on the mocking service, where it's related, but I'll see it either way :smile:

[2015-08-10 16:36] blakeembrey commented on #75
Fixed and released with https://github.com/mulesoft-labs/osprey-mock-service/releases/tag/v0.0.11

[2015-08-10 16:36] #75 closed

[2015-08-18 01:23] blakeembrey commented on #74
Closing for now. There's no clean way to propagate up the routers and back down recomputing paths, including on new route additions, which can lead to unexpected behaviour. Better to keep it all declared. The ideal solution would be to use something like https://www.npmjs.com/package/osprey-resources and automatically generate controllers.

[2015-08-18 01:23] #74 closed

[2015-08-26 00:59] blakeembrey opened #76 "Expose method for users to create their own validation error instances"
Errors can opt in to the standard formatting and i18n features.

[2015-08-26 01:00] blakeembrey opened #77 "Pass custom i18n messages"
Merge i18n messages with the default defined messages. Allows the user to specify custom types when using application validation messages from #76.

[2015-08-26 03:43] blakeembrey opened #78 "Error formatter should output stack trace in development"
With #76 and custom validation messages from user code, it will be useful to provide stack traces from errors.

[2015-08-26 18:34] #78 closed

[2015-08-26 22:18] #76 closed

[2015-08-26 22:18] #77 closed

[2015-09-30 10:45] cpetrov opened #79 "Headers only defined in security scheme are removed from the request"
Custom headers used to describe a security scheme get removed from the request if only the security scheme is referenced, e.g.:

[code]

In this example the `custom-token` header is stripped from the request. This works:

[code]

One would expect security headers to be recognised from the scheme and not to be stripped from the request. Declaring them for each entry point is redundant.

[2015-09-30 17:16] blakeembrey commented on #79
That's a great catch, thanks! :+1: I'll be sure to fix it. A quick question on this - could you make use of the security layer here? I'd love a little more context on the usage of the header in the application (if it's aside from authentication).

[2015-10-01 10:00] cpetrov commented on #79
In my case no - the token was only delegated to another service.

[2015-10-22 18:03] blakeembrey opened #80 "Only attempt to mount security middleware when defined"
When `security` is `null`, just skip it: https://github.com/mulesoft/osprey/blob/master/osprey.js#L32-L44.

[2015-11-24 23:18] blakeembrey commented on #80
Released in `beta.9`

[2015-11-24 23:18] #80 closed

[2015-12-08 14:54] Shockolate opened #81 "Timeline for support with RAML 1.0"
I know RAML 1.0 was released a month ago, but I'm curious as to when support will be added to Osprey.

[2015-12-08 18:12] balint42 opened #82 "oAuth 2 documentation"
Hey guys, thanks a lot for your work and sorry for polluting the issues with this question here, but: I am completely lost with the part talking about osprey and oauth 2! I have not the slightest idea what the options are meant to do or how to use them. I would don't even know where to start asking. I mean

The "same URL" as what? What is `req.oauth2`?? Where in which context & moment does it exis

[2015-12-08 19:21] blakeembrey commented on #81
@Shockolate Absolutely on the roadmap for me, I'm hoping to release it late January or early February. There's a couple of tricky things that have zero implementation which could make this harder, such as zero public implementations of the type system in validation yet. That might make the implementation much more time consuming. Right now though, I'm currently blocked on a stable RAML JavaScript

[2015-12-08 20:15] blakeembrey commented on #82
Whichever page is serving the authorization page content (`authorizationUri`). It has to do a POST to itself.

It is an object with `oauth2` related properties (in this case `transaction_id` and `scope`, but there's more things on it). It exists on any request that's part of the OAuth 2.0 flow.

You might be best reading a little about [Passport.js](http://passportjs.org/) for some of your questio

[2015-12-09 11:40] alleypa opened #83 "Error after mounting notFoundHandler when using Osprey from different RAML files"
Hello @blakeembrey

I get the blow error when I make a request. This also happens after all the middleware handlers are mounted. Please let know if it helps.

Error: Path /casehearing/3 was not found in the RAML file for this application
   at notFoundHandler (E:\GIT\MOJ\ccsfe-raml-server\node_modules\osprey\lib\server.js:61:23)
   at Layer.handle [as handle_request] (E:\GIT\MOJ\ccsfe-raml-server\

[2015-12-09 17:05] balint42 commented on #82
Dear @blakeembrey, thanks for your reply!

I am bit by bit understanding more of this using only passport.js now - however not understanding enough yet. :-) I would certainly be happy about a minimal example with osprey and oauth2, but will try this for myself anyways.

[2015-12-09 21:07] blakeembrey commented on #83
Can you share some sample code to reproduce it? The `notFoundHandler` needs to be mounted _after_ the middleware handlers are mounted, otherwise everything will be considered not found.

[2015-12-09 22:04] alleypa commented on #83
Hi @blakeembrey
Please checkout this repo https://github.com/alleypa/ramlserverpoc. The entry file is serverOS1.js. You can see the endpoints seperated into read and write folders. Presently the implementation works returning the expected json once the correct url is requested. But once I mount the notFoundHandler, I get the above error. Please let me know if I should give more information to diag

[2015-12-10 00:16] blakeembrey commented on #83
Your issue is that `osprey.loadFile` is asynchronous, but you're mounting the not found handler synchronously. You actually have the same bug with your logger and error handler and your listener, basically anything happening after the Osprey calls. I would recommend having your two endpoints export the routers themselves, then move the osprey loads into the core file. Here's some psuedo code:

[co

[2015-12-10 20:02] alleypa commented on #83
Hi @blakeembrey

Many thanks for your suggestion. The approach did work.

Regards
Olu

[2015-12-10 21:00] blakeembrey commented on #83
Perfect, I'll close this issue now.

[2015-12-10 21:00] #83 closed

[2016-01-08 20:26] abhiofdoon opened #84 "Error when queryParameter is repeated but not required."
I have a query parameter which is not required but when it is present it can be repeated multiple time.

Here is how my RAML looks

/instances:
  get:
    queryParameters:
      instance_state_name:
        type: string
        required: false
        repeat: true

This works fine for queries like this:
api/instances?instance_state_name=running&instance_state_name=stopped

but it produces an error

[2016-01-08 23:11] blakeembrey commented on #84
Thanks for the report, I'll look into it ASAP.

[2016-01-11 22:13] blakeembrey commented on #84
Thanks for the report @abhiofdoon - it's been corrected in a sub-dependency (https://github.com/mulesoft/node-raml-validate/commit/28e1494ccce330ba2adede39212edbbf6ad5c333). If you reinstall, it will pull down the latest patch version of the dependencies and this will be fixed.

[2016-01-11 22:13] #84 closed

[2016-01-13 18:23] nmors opened #85 "Problems parsing RAML file and/or http request via express"
For some reason, osprey is giving me an error "No body sent with request", when there is not supposed to be a body sent with this request. (by design) When I send one (for test purposes) it is then saying it is not specified in the RAML file. e.g.:

1)

      curl 'http://localhost:4447/api/export/pdf/hosts'

Gives:

<b>UnsupportedMediaTypeError: No body sent with request for GET /api/export/pdf/h

[2016-01-13 18:32] blakeembrey commented on #85
Thanks for the report, I'm taking a look right now :+1:

[2016-01-13 18:35] nmors commented on #85
Thanks :)

Let me know if you need more info, or for me to do some other tests

[2016-01-13 18:47] blakeembrey commented on #85
@nmors Your `body`, `responses`, etc are indented on level with the resource, that looks like it might be your issue? Do you have information on the `type: data-export`? In case the method is being described in there, so I can replicate that.

[2016-01-13 18:49] blakeembrey commented on #85
@nmors If possible, could I get a snippet of the RAML to replicate just the first point. I assumed the snippet there involves multiple iterations of what you were trying to do too.

[2016-01-13 18:58] nmors commented on #85
@blakeembrey the body, response, etc, indentation was just an error from copy/paste into github. it's correct in my file. I'll update it now.

resourceTypes/data-export.raml :

usage: This resourceType should be used for any export of data
    description: The data export collection of <<resourcePathName>>
    get:
      description: Get data <<resourcePathName>>, optionally filtered
      queryPa

[2016-01-13 19:03] nmors commented on #85
api.raml (with irrelevant endpoints removed):

#%RAML 0.8
    ---
    title: ED
    protocols: [ HTTPS ]
    baseUri: https://myserver.com.au/{api_root_endpoint}
    version: 2.5
    baseUriParameters:
      api_root_endpoint:
        description: The configured API endpoint in application config
    #mediaType: application/json
    securedBy: [1]

    resourceTypes:
      - collection-item: !incl

[2016-01-13 19:14] nmors commented on #85
The different iterations I have tried that i described, are above (commented out) you may uncomment to replicate the tests I did.

For completeness, here is how I start the API:
var api_spec = "raml/api.raml"

  osprey.loadFile(api_spec)
    .then(function (middleware) {
      app.disable('x-powered-by');

      // Parse Request Bodies
      //app.use(require('body-parser').json({ extended: true }

[2016-01-13 19:39] blakeembrey commented on #85
I can't seem to replicate the 1st case, was there a body defined at that point? As for 2, looks like a bug in the error messaging (should definitely be an error since you're sending a body when it doesn't expect one, but that's a terribly wrong message). With 3, that's not actually an error, but a warning in your terminal when accessing the `.body` property (it's meant to be helpful, I can try mak

[2016-01-13 19:55] nmors commented on #85
yes, in the 1st case, the body was defined in RAML (but not in the curl request).

This sounds right. But with # 3), the request times out eventually. Why would it be trying to access the .body property, when the request is not supposed to contain a body, nor is one specified in RAML?

I also removed the body-parser middleware for testing, and getting the same results. I'm a bit lost here...

Sorr

[2016-01-13 20:06] nmors commented on #85
Okay, I think i was just misled due to the error message.... Oops!

By coincidence, I also had an error in my handler function, but the osprey message was throwing me off, i was looking in the wrong place!

This drove me crazy for days.. I'm so glad that we figured this out... Maybe the error message can be hidden somehow, as many API requests don't have bodies and this is pretty much normal behav

[2016-01-13 20:06] #85 closed

[2016-01-13 21:24] blakeembrey commented on #85
I'll make a patch with some better messaging and think on what will make it better. The message can definitely be hidden, it was added to avoid confusing as to why `.body` had nothing accessible when using Osprey (because it ignores the body when it's not defined). I didn't realize there's any middleware that will always access it and I considered accessing it a warning, but I'll remove it and imp

[2016-02-04 09:22] YvanDaSilva opened #86 "UriParameters not passed to request params."
Hello,
I am having an issue parsing the uri parameters when using osprey router.

Test case:
RAML route
[code]

The osprey router config:
`this.router.get('/data/{data_id}', (req: express.Request, res: express.Response)=> { console.log(req)}`
I have tested many different options notably using "/data/:data_id" but this wouldn't recognise the route.
The problem:
req.params  is empty, meaning the id

[2016-02-09 03:04] blakeembrey commented on #86
@YvanDaSilva Currently there's no support for the propagation of param types, so when they aren't set they are omitted. I can't remember the full breadth, but I did try to implement this at one point - I'd have to retry to remember by I aborted doing it.

To make the parameters come through, you can do `.get('/data/{data_id}', { data_id: { type: 'string' } })`. Most likely, a workaround can be use

[2016-02-10 08:16] YvanDaSilva commented on #86
Hello @blakeembrey, thank you for your reply.
I see, wouldn't it be simpler to let the function handle the type of the id further down? And maybe map the url to something like '/data/:data_id' in order to be compatible with other routers structure, like the express one ?

I didn't investigate the repercussion of my proposal at all, so please let me know if this is a good approach or not and why. I

[2016-02-10 20:15] blakeembrey commented on #86
I don't understand the proposal you've made, but I can definitely see what I can do about fixing the issue.

The RAML URLs are different from Express URLs. If you want to use Express URLs, you can use the Express router. The issue isn't about mapping at all, it's actually about merging of params (the router currently omits them when not defined, they are originally defined by RAML so we could try

[2016-02-11 08:29] YvanDaSilva commented on #86
@blakeembrey It was a misunderstanding from my part. I didn't understand that the router was ditching the param if it was not defined as you mentioned above.
So yes it is answered already.
Thank you for your reply.

[2016-02-11 21:49] blakeembrey commented on #86
Ok, trying to come up with a solution and the pains are all coming back to me. The likely solution will be adding the ability to "merge" or re-use `uriParameters` that have already been defined. There are possible edge cases, but I think it's a net good and this is definitely a bit of a pain point.

[2016-02-11 23:23] #86 closed

[2016-02-11 23:58] blakeembrey commented on #86
https://github.com/mulesoft/osprey/releases/tag/v0.2.0

[2016-02-11 23:59] blakeembrey commented on #19
We're accepting PRs against the `0.1.x` branch if this is still an issue, but `0.1.x` is deprecated and replaced with `0.2.0`.

[2016-02-11 23:59] #19 closed

[2016-02-11 23:59] blakeembrey commented on #35
We're accepting PRs against the `0.1.x` branch if this is still an issue, but `0.1.x` is deprecated and replaced with `0.2.0`.

[2016-02-11 23:59] #35 closed

[2016-02-12 00:00] blakeembrey commented on #46
We're accepting PRs against the `0.1.x` branch if this is still an issue, but `0.1.x` is deprecated and replaced with `0.2.0`.

[2016-02-12 00:00] #46 closed

[2016-02-12 00:00] blakeembrey commented on #52
We're accepting PRs against the `0.1.x` branch if this is still an issue, but `0.1.x` is deprecated and replaced with `0.2.0`.

[2016-02-12 00:00] #52 closed

[2016-02-12 00:00] blakeembrey commented on #60
We're accepting PRs against the `0.1.x` branch if this is still an issue, but `0.1.x` is deprecated and replaced with `0.2.0`.

[2016-02-12 00:00] #60 closed

[2016-02-12 08:46] YvanDaSilva commented on #86
Nice, I saw your changes to the osprey-router.
Thank you for your work.

[2016-02-16 19:33] dmartinezg opened #88 "Support Level 2 URI templates"
The following RAML is not supported:

[code]

What I would expect from osprey is to be able to make a `GET` on `/files/some/arbitrary/fileName`

RAML 0.8 omits saying that Level 2 is not available to use in `uriParameters`, so I would assume, that tooling should be able to handle this with a flag, somehow.

WDYT?

[2016-02-16 19:36] blakeembrey commented on #88
Unfortunately, the RAML specification is explicit about Level 1 support only - see https://github.com/raml-org/raml-spec/issues/73 for the issue raised on the public specification.

[2016-02-22 08:59] ivantv opened #90 "Fails to load raml which has a schema included"
I have the following api.raml, userId.yaml and index.js defined. But when i run the node index.js. It exits. Is this a bug? How to debug this issue ?

But when i directly include the json schema in api. raml it starts working
## api.raml (userId schema is external userId.yaml file) NOT WORKING
# %RAML 0.8

title: Messages API
version: v1
baseUri: http://127.0.0.1:3004/api
schemas:
- !include userI

[2016-02-22 22:12] blakeembrey commented on #90
Can you please format the code samples? It makes it much easier to debug. Just wrap the blog in three backticks with the optional language:

[code]

[2016-02-22 22:14] blakeembrey commented on #90
You can also use the error handler of the promise to check what's going on. Most likely there's a parsing issue:

[code]

[2016-02-22 22:32] blakeembrey commented on #90
It's hard to tell without formatting, but I would guess it's caused by `userId.yaml` being a map instead of a list of maps.

[2016-02-24 17:40] eberls commented on #81
Anything we can do to preview/help with this?

[2016-02-24 22:34] blakeembrey commented on #81
The JavaScript parser is still churning along, I believe it's closer to possible for me to use. The first thing I'd need to do is be able to transform the Osprey dependency projects in a way that the new parser objects look. I haven't started that yet, but if someone wants to open a PR with some work on it I can definitely take a look at it.

For example:

* https://github.com/mulesoft-labs/osprey

[2016-03-02 08:14] nmors commented on #82
An example would be great!

I'm trying to implement this myself with osprey / RAML.

I have already successfully implemented OAuth 2.0 using plain express / passport.js / passport-oauth2, which uses a WSO2 server as the Identity server. I really would like to add RAML / osprey into the mix

Now I'm struggling a bit to apply authorisation via the defined 'scopes' that are in my RAML. I have 5 diffe

[2016-03-03 19:47] blakeembrey opened #97 "Express Multer"
Investigate the use of https://github.com/expressjs/multer to replace a customised Busboy emitter.

[2016-03-03 19:51] blakeembrey opened #98 "Osprey Controller"
Replace the manual router usage with a controller generator. Unsure whether names or paths should be used (maybe use annotations with 1.0 standardised from https://github.com/mulesoft-labs/raml-generator/pull/14). Using an controller interface would allow wildly improved autocompletion and type checking in typed languages like TypeScript. It can also allow late-binding of the middleware methods, a

[2016-04-03 23:08] d3mi3n commented on #81
Is there any clear timeline when support for RAML 1.0 will be available?

[2016-04-10 04:41] simlegate opened #101 "Install Error"
I have added `"osprey": "^0.3.1"` to my package.json and exec `npm install`, but some errors appears on `Ubuntu 14.04.3 LTS` ( It's OK on OSX 10.9 ):

[code]
@blakeembrey Could you help me check it ?

[2016-04-10 23:38] blakeembrey commented on #101
@simlegate Seems like an issue with cloning a GitHub dependency. Is there any network issues affecting GitHub access when you do an `npm install`? I'll aim for a more long-term solution ASAP, by publishing the dependency onto NPM.

[2016-04-11 04:50] simlegate commented on #101
@blakeembrey the Ubuntu system is a virtual machine on my macbook that the installation is OK, so I don't think it's a network issues

[2016-04-11 06:19] sundar-nsm commented on #101
@blakeembrey i am facing same issue.

`npm ERR! git clone --template=C:\Users\sslap\AppData\Roaming\npm-cache\_git-remo
tes\_templates --mirror https://github.com/blakeembrey/router.git C:\Users\sslap
\AppData\Roaming\npm-cache\_git-remotes\git-https-github-com-blakeembrey-router-
git-router-engine-0075f85f: undefined
npm ERR! git clone --template=C:\Users\sslap\AppData\Roaming\npm-cache\_git-remo

[2016-04-11 19:00] blakeembrey commented on #101
@sundar-nsm Are you also using `cnpm`?

[2016-04-12 08:22] artemkaint commented on #81
+100 waiting

[2016-04-13 11:29] simlegate commented on #101
@blakeembrey
 Maybe it was caused by `cnpm`, because the package is installed with `npm` successfully .
but I don't know what happen.

[2016-04-13 15:21] simlegate commented on #101
@blakeembrey Could you give me some examples using the package with `koa` ?

[2016-04-13 16:23] blakeembrey commented on #101
@simlegate It accepts `request` and `response`, so theoretically you can use it with something like https://github.com/vkurchatkin/koa-connect.

[2016-04-13 17:30] simlegate commented on #101
@blakeembrey  Thank you very much and I will close the issue.

[2016-04-13 17:30] #101 closed

[2016-04-20 10:27] neilhosey commented on #81
+1 would love to know when this is coming!

[2016-04-21 04:07] daldridge-cs opened #102 "Using passort-jwt auth with osprey?"
Prior to using osprey, I could use the `passport-jwt` plugin to require and validate a JSON Web Token for secure routes:

[code]

Now that I'm using osprey to perform request validation, I would like to instead declare the security in RAML ... :

[code]

... and use `osprey.security(...)` to enforce it, but it's unclear to me how to covert my old code:

[code]

Anybody have an idea on how to do th

[2016-05-02 15:51] gciatto commented on #102
Hi! I'm using RAML and Osprey for one university project of mine. We decided to implement JWT-based authentication so I've been experimenting a bit during the last few days and I've faced the same problem. This is an example project I've produced, I hope it's useful for anyone wanting to use JWTs within Osprey.

This is `./assets/api.raml` containing some simple API and custom security schema:

[2016-05-06 16:15] neilhosey commented on #81
RC2 is released and we now have a parser :)

Would be great to know when this is coming out?

[2016-05-06 17:25] blakeembrey commented on #81
I'm no longer involved with the project, hopefully someone else from @mulesoft can let you know 😄

[2016-05-26 04:11] MajidD4t1qbit opened #104 "RAML v1.0"
Hey guys,

I did some search but strangely couldn't find anything in the docs on this. Does osprey support RAML v1.0? and if not, are there any plans to support it any time soon?

Thanks

[2016-05-26 04:56] MajidD4t1qbit commented on #104
Just changed my RAML API to v0.8 and osprey started working. The confusing part is that it did not produce any errors when I used a v1.0 RAML. It just never entered the callback of the `then` function. Here's the code I used. It's basically copy and paste from the documentation:

[code]

[2016-06-08 14:41] thejmazz commented on #104
I stumbled upon the RAML 1.0 issue a few months ago myself, see this [twitter convo](https://twitter.com/blakeembrey/status/663086151612280837). Osprey does not support 1.0, only 0.8. And an Osprey@next can only be made once [raml-js-parser-2](https://github.com/raml-org/raml-js-parser-2) is ready, which just hit beta btw.

Perhaps @blakeembrey can update us.

PS I'll be trying out the raml-js-par

[2016-06-08 15:00] sichvoge commented on #104
@thejmazz; the js parser should be quite stable and isn't really beta anymore ;)

[2016-06-08 15:04] thejmazz commented on #104
awesome! hopefully I'll have time to try it out this weekend

[2016-06-15 20:55] herry1234 opened #105 "got 404 using the example app"
main.js:

[code]

api.raml

[code]

node
node --version
v4.2.6

[2016-06-30 12:14] muka commented on #104
Me too, maybe worth to be added to the documentation?

[code]

[2016-06-30 12:23] sichvoge commented on #104
Maybe its worth to add it yes.  Feel free @muka to send a PR

[2016-07-14 12:09] lucasfo opened #107 "Oauth2 scope verifying failing"
When using code or token exchange she serverAuthorizationPage must emit transactionId and scope,
however if the scope requested has only one element (is a array with only one element), the validation will fail, because in the body parsing the scope will be turned in a string, not a array with one element.

[2016-08-30 19:29] jcheroske opened #110 "Question: Is this project still active?"
I'm beginning a new REST api project and just discovered this repo. Are there plans to ramp up development here again? If not, is there another repo that has replaced this one? Thanks.

[2016-08-31 00:43] nmors opened #111 "Fix the regExp DoS vulnerability"
I've already emailled about this some time ago. Please fix it ASAP!!

No project using this package is fit for production unless you do so.

Thank you!

[2016-08-31 18:15] sichvoge commented on #111
@nmors I believe that had been fixed before but not published to NPM. That should have been done this week. Can you please check if that is still a problem?

[2016-09-01 02:13] nmors commented on #111
@sichvoge No it is still unresolved in the latest version

[code]

[2016-09-01 02:41] nmors commented on #111
I also updated to package version for **negotiator**  in **node-request-error-handler**
0.6.0  -> 0.6.1

Once changes in https://github.com/mulesoft-labs/node-request-error-handler/pull/3 are merged, this PR needs to be updated once again to match bumped version in github AND NPM for both repos

[2016-09-01 08:59] sichvoge commented on #111
Thanks for the PR. I will have the team on it.

[2016-09-04 15:43] sallespro commented on #102
ciao  @gciatto , tks for the kick start with jwt. missing `require('./storage/users')`.

[2016-09-06 05:56] jstoiko commented on #110
@jcheroske: yes, it is and we're currently working on adding [support for RAML 1.0](https://github.com/mulesoft/osprey/milestone/1).

[2016-09-06 06:00] jcheroske commented on #110
Have you seen the express-openapi module? I'm curious about the future
viability of RAML given what's happening in that space.

Thank you for the reply.

On Monday, September 5, 2016, Jonathan Stoikovitch <notifications@github.com>
wrote:

[2016-09-06 12:13] sallespro commented on #79
hi, i am having a problem authenticating with passport-jwt following @gciatto 's approach as shown in https://github.com/mulesoft/osprey/issues/102

would it be a victim of the header removal as well !?

i noticed in passport's strategy verify function the token payload is received in the request, but seems to be `unauthorized` funrther along the middleware, in Osprey.

[2016-09-06 13:18] sichvoge commented on #110
That's more than a tough question and obviously not easy to answer in here. OpenAPI (aka Swagger) is a very good step forward, no doubt. Still, people prefer RAML for their specific use cases where Swagger is limited. It really depends on your specific scenarios and what helps you most. RAML does a very good job being very dry in its approach and people love that. Thats why it also gains a bit mor

[2016-09-12 05:45] jstoiko opened #113 "Proxy doesn't handle paths in URLs"
Using the example Express app provided in Osprey:

[code]

and in another terminal window:

[code]

Two issues:
1. the body of `localhost:3001/users` is `Cannot GET /users` instead of the same body as `localhost:3000/v1/users`;
2. the status code is 200 but it should be 404 in that case as `Cannot GET /users` indicates that it did not find the resource.

Note: It behaves as expected when removing

[2016-09-22 17:59] jstoiko opened #115 "`Unable to compile JSON schema` error when POST refers to schemas in `schemas`"
When loading the following example in Osprey: https://github.com/raml-org/raml-examples/blob/master/schemas/api.raml, error is:

[code]

[2016-10-06 20:09] elridgedmello opened #117 "Unable to use custom security scheme"
We are unable to use a custom security scheme based on the instructions listed at [osprey's README](https://github.com/mulesoft/osprey#custom-security-schemes).

We are using passport to setup the authentication middleware.

The issue/observed behavior is that the custom authentication function (`passport.authenticate('my-apikey', { session: false })`) specified as part of `myCustomAuthScheme` is

[2016-10-06 20:35] elridgedmello commented on #102
Unable to successfully setup `osprey.security` with a custom security scheme (also using passport).
I read what @gciatto posted here and the [README.md](https://github.com/mulesoft/osprey/blob/master/README.md) in this repo, but have not been able to create a custom security handler.  Please see my sample app posted on issue #117

[2016-10-12 06:03] jstoiko commented on #105
@herry1234 couldn't reproduce this. Tried to GET `http://127.0.0.1:3000/api/users` and got `200 OK` with the expected data in response.

[2016-10-14 05:47] jstoiko commented on #107
Fixed in https://github.com/mulesoft/osprey/pull/108 which was merged into https://github.com/mulesoft/osprey/pull/116 (upcoming release with RAML 1.0 support)

[2016-10-18 20:47] jardilio commented on #115
I had the same issue with 2 other projects I'm using this with. To work around it, I had to load the raml via raml-parser, then manually cycle thru my schemas and add them to osprey which delegates all the way down to ajv for validation.

(raml.schemas || []).forEach(schemas => Object.keys(schemas).forEach(key => osprey.addJsonSchema(JSON.parse(schemas[key]), key)));

[2016-11-01 18:53] hassanshaikley opened #119 "Implementing Basic Auth"
Hey all,

I found the documentation a little bit confusing. It didn't work for me. I needed to place basic_auth in a security object. Have I made a mistake or is there a mistake in the documentation?

[Link to documentation. ](https://github.com/mulesoft/osprey#basic-authentication)

My code:

[code]

[2016-11-01 20:20] hassanshaikley opened #120 "Accessing done() data, or URI data from basic_auth"
How to access the route data from within basic_auth?

I want to authenticate the user and make sure that they have access to that resource. In order to do that I need to see which resource they are trying to reach and if they are the creator.

If within this function I had access to the route they tried to access, to make sure you're authorized to view a file given your username and apiKey that wo

[2016-11-01 21:18] jstoiko commented on #119
hey @hassanshaikley, can you provide a copy of your RAML file containing the `securityScheme`?

[2016-11-01 22:07] hassanshaikley commented on #119
[code]

[2016-11-02 04:02] jstoiko commented on #119
@hassanshaikley: I agree that the docs could use a few more examples. Maybe a wiki section pointing to more examples.

That being said, there is a note in the README that says: `osprey.loadFile is shorthand for ramlParser.loadFile -> [osprey.security, osprey.server, osprey.errorHandler].` So when using `osprey.loadFile(raml, options)`, the options will get passed as: `osprey.security(raml, options

[2016-11-02 04:17] jstoiko commented on #120
It seems to me that you are trying to implement [`custom_auth`](https://github.com/mulesoft/osprey/blob/master/README.md#custom-security-schemes). You might want to use that instead, then you'll be able to access the [request data from within the handler](https://github.com/mulesoft/osprey/blob/master/examples/custom-auth/index.js#L11). Hope that helps.

[2016-11-02 15:11] Gpx commented on #110
I'm also about to start document my API and I saw this repo didn't get updated in a month or so. Do you have an ETA for 1.0 support? Thanks

[2016-11-03 20:10] daldridge-cs commented on #117
Individually `app.use(...)`ing the server, security,  and error handlers appears to be the problem.  If I `compose` them together, it appears to function as intended:

[code]

[2016-11-03 20:59] hassanshaikley commented on #120
Well, what I want is permissions with basic auth. I want to be able to check that a user has access to a resource, not only that a user is authenticated. I feel like that should be supported.

[2016-11-08 10:07] Gpx opened #121 "Allow to log data validation errors"
When the data validation fails the error description gets returned in the response body. I need a way to also log the response. Currently my error handler gets executed only for `5xx` errors. This is the code I'm using:

[code]

[2016-11-10 01:01] mbonaci opened #122 "RAML 1.0 feedback please - anyone?"
Hi,
although there are 2 existing issues around 1.0 support, I'm opening a new one since we can't seem to get anyone to respond to requests for timeline in neither of those.
Thanks

[2016-11-10 17:57] jstoiko commented on #122
H @mbonaci, I'm sorry that you're not getting any update. [The work that brings RAML 1.0 support](https://github.com/mulesoft/osprey/pull/116) is currently being reviewed. We've had a few exchanges with the team in the past few days and a new version of Osprey should be released in the next week or so. In the meantime, feel free to give that `raml1.0` branch a try :-)

[2016-11-10 17:57] #122 closed

[2016-11-17 22:54] #120 closed

[2016-11-21 15:22] alexec opened #123 "Support `$ref` for local paths"
Osprey doesn't support `$ref` for local paths. Please support it.

[2016-11-21 20:38] jstoiko commented on #123
@alexec: are you referring to the JSON schema `$ref` property?

If so, JSON pointers referring to the same document, e.g. `{ "$ref": "#/definitions/reference" }`, should work out of the box. However, pointers to external files, e.g. `{ "$ref": "definitions.json#/reference" }` require [this extra step](https://github.com/mulesoft/osprey#add-json-schemas) (Osprey relies on [AJV](https://github.com/e

[2016-11-27 15:59] memelet opened #124 "Pass annotation values to handler?"
Is there anyway to pass annotation values to a handler? eg,

[code]

The application middleware needs the required permissions value to validate against the JWT.

[2016-11-27 16:07] memelet commented on #124
Hmm, from what I can tell the annotation types are parsed and added to 'raml' along with the resource definitions, but the actual annotation values are dropped on the floor. No?

[2017-01-06 03:30] isTravis opened #125 "Built-in Response Handling"
The README lists

Any timeline on that? Or are there specifics that we might be able to help with? Will that be packaged with the RAML1.0 release? (Also keen on any insights you have regarding that timeline as well).

Thanks for all the great work so far!

[2017-01-25 03:48] zero51 commented on #121
@Gpx I'm having a similar issue. Did you find a fix?

[2017-01-25 13:57] Gpx commented on #121
I did not unfortunately

[2017-01-25 21:02] zero51 commented on #121
Thanks @Gpx. Is this a known issue @jstoiko?

[2017-01-25 21:50] jstoiko commented on #121
Have you tried passing the `disableErrorInterception` option? See what it does [here](https://github.com/mulesoft/osprey/blob/master/osprey.js#L48).

[2017-01-27 00:02] zero51 commented on #121
@jstoiko Perfect! Thanks!

[2017-01-30 23:50] zero51 opened #126 "Does Osprey support union types?"
If I have two types...
[code]
And a union of the two...
[code]
Then Osprey throws a 404 whenever I try to access a route that uses the union type in a URI parameter...
[code]
Using either type on its own works fine.

[2017-02-02 03:19] zero51 opened #127 "Does Osprey support minProperties?"
With the following RAML...
[code]
I would expect a request with blank body to fail, but it succeeds.

[2017-02-03 06:40] zero51 commented on #127
Ditto `additionalProperties`. It seems to be ignored, which is a shame...

[2017-02-07 05:21] zero51 commented on #127
@jstoiko: any guidance here? This and #126 are quite important to us. It's a great library, but there seems to be little activity. Is it still actively maintained?

[2017-02-07 06:03] jstoiko commented on #127
@zero51: you raised some valid points. I should be able to get back to you by the end of the week with a solution to both issues.

Yes, this project is still actively maintained and a version with RAML 1.0 should be released soon. It's taking more time than expected to get it out and it's out of my control. Thanks for your patience.

[2017-02-07 07:05] zero51 commented on #127
Thanks @jstoiko. I'm using the raml1.0 branch at the moment, and most of it works fine.

[2017-02-11 15:20] #123 closed

[2017-02-15 05:32] jstoiko commented on #127
Hang in there @zero51, still working on addressing this and #126. Not as trivial as I originally thought. Shouldn't be much longer though. The good news is we'll be able to include those changes in the new (pending) release.

[2017-02-15 20:54] zero51 commented on #127
Thanks for the update @jstoiko. Looking forward to playing with the new release...

[2017-02-20 05:07] jstoiko commented on #126
There was an issue in the way the underlying libraries were handling RAML 1.0 types. I.e. `union` type was not working. This part is fixed. Uninstalling/reinstalling the `raml1.0` branch of `osprey` and dependencies should fix it. Union types will however NOT work with `uriParameters `. I'll explain why.

Whenever a request triggers a route in node, that request's path is always a string, e.g. `pa

[2017-02-22 05:23] jstoiko commented on #127
@zero51: `minProperties`, `maxProperties` and `additionalProperties` should work now. Can you give it a shot?

[2017-02-22 10:56] jayS-de opened #128 "Proxy doesn't handle https correctly"
I'm using the RAML1.0 branch and having some issues with https.

When starting osprey in proxy mode to proxy a https address (e.g.: ```node bin/osprey.js -f api.raml -a https://api.example.org -p 3000```). The proxy request is handled using the http engine. Somehow the proxyRequest options resolve the protocol to 'https:' instead of 'https' so in proxy.js

[code]

this resolves to the http engine.

[2017-02-22 15:19] jayS-de opened #129 "Invalid Inheritance issue in datatype_expansion"
When using the RAML below in Osprey and with the workaround from https://github.com/raml-org/raml-parser-toolbelt/issues/50 I get following error:

[code]

Btw the error message should state ```Invalid inheritance``` ;)

[code]

When removing the results property from PagedQueryResponse the RAML works.

[2017-02-22 15:28] jayS-de commented on #129
I'm opened this one most likely at the wrong repository. See https://github.com/raml-org/raml-parser-toolbelt/issues/52

[2017-02-22 15:28] #129 closed

[2017-02-22 16:44] jy95 opened #130 "Strange error"
Hello,

I got this when I use the raml 1.0 branch with my file

[SCREEN](http://www.zupimages.net/up/17/08/ep64.png)

Just why ?

I use a raml file that includes a library raml file (for types)

PS: I will include an example soon.

[2017-02-22 21:07] jstoiko commented on #130
I came across this [issue](https://github.com/raml-org/raml-js-parser-2/issues/628) on the JS parser that Osprey relies on. This seems related. Maybe you can test your RAML with the latest version of the parser and tell me if it fixes your issue. If it does, we can bump the version before releasing the new version of Osprey.

[2017-02-22 21:13] jy95 commented on #130
Alright. Just only need local command for osprey (in global installation, I cannot change the version)

[2017-02-22 21:16] jstoiko commented on #130
if you use load your file with the parser directly like in the example of [this description](https://github.com/raml-org/raml-js-parser-2/issues/628), you should be able to reproduce the error you're getting.

[2017-02-22 21:24] jy95 commented on #130
Ok, I will follow what thebinarypenguin  said : with their branch ; https://github.com/raml-org/raml-js-parser-2/tree/develop . Let's hope it works

[2017-02-23 06:32] zero51 commented on #127
@jstoiko: `minProperties` seems to work now, although `additionalProperties` is still ignored. Also, I'm getting parse errors now on the RAML doc, even though Atom doesn't complain...

[code]
and

[code]

I have two resource types defined, which do make use of resourcePathName tags, but their implementation has not changed.

[2017-02-23 06:43] zero51 commented on #127
Removing all the resource-type descriptions silences all but two parse errors. There was nothing particuarly special about them...

[code]

[2017-02-23 08:57] zero51 commented on #127
The line numbers in the parse errors don't ever seem to be anything other than 1, but the other two parse errors are a result of this line...

[code]

[2017-02-23 16:19] jy95 commented on #130
UPDATE : I succeded to read my raml file and access data inside with this project : https://github.com/raml2html/raml2obj (wrapper around raml-js-parser-2). Lastest version 8 days ago .... .

[2017-02-23 20:02] jstoiko commented on #127
Your issue seems related to what was reported here: https://github.com/mulesoft/osprey/issues/130.

Have you tried to parse your file using the [parser](https://github.com/raml-org/raml-js-parser-2) directly? It seems like using the latest version might fix the issue you are reporting. If it does, then we should probably bump the version in Osprey. If it doesn't, then I suggest you file an issue [

[2017-02-23 20:06] zero51 commented on #127
OK, will have a look. I guess the `additionalProperties` issue still stands though?

[2017-02-23 20:50] jstoiko commented on #127
I can't reproduce, i.e. `additionalProperties` works for me. Can you share a RAML snippet here?

[2017-02-23 21:34] #113 closed

[2017-02-23 22:08] zero51 commented on #127
For this endpoint...
[code]

An empty body `{}` correctly throws...
[code]

However, the following bodies are permitted: `{"foo": "bar"}` and `{"first_name": "Fred", "foo": "bar"}`.

[2017-02-23 22:39] jstoiko commented on #128
Thanks for reporting this.

Regarding your main issue, I was able to reproduce it. It was an old issue as I was able to reproduce using `v0.3.2`. It's fixed now (in the `raml1.0` branch).

I took the opportunity to merge a fix for an older issue that is somewhat related: https://github.com/mulesoft/osprey/issues/113

Can you expand on your other issues a bit more, maybe by creating separate github

[2017-02-24 03:59] jstoiko commented on #127
You were right. Should be good now. Can you give it another try?

[2017-02-24 09:09] jayS-de opened #131 "Issue validating certificates in proxy requests"
When trying to proxy requests against a https secured API endpoint I'm getting this error message.

[code]

[code]

First I thought I might fix this issue by enabling CORS, but this didn't helped. Actually I had to set the environment variable ```NODE_TLS_REJECT_UNAUTHORIZED=0``` in order to do so.

To avoid setting the environment variable it's possible to just set the host in the request header

[2017-02-24 09:10] jayS-de commented on #128
👍

Opened a new issue about the NODE_TLS_REJECT_UNAUTHORIZED

See #131

[2017-02-24 09:50] jayS-de opened #132 "Issue with Gzip compression"
When proxying requests with "Accept-Encoding: gzip" header and a gzip encoded response I just get a gibberish response.

The interesting part here is, this doesn't happen for all requests.

In the first request I post a product to our endpoint below you see the console log output of the response inside proxy.js. But first the decoded result:

[code]

When querying the for this resource I get this

[2017-02-24 09:58] zero51 commented on #127
Sorry, same behaviour here.

[2017-02-24 16:18] jstoiko commented on #127
you'll need to uninstall/reinstall all your dependencies specifically https://github.com/mulesoft-labs/osprey-method-handler

[2017-02-24 22:36] jstoiko commented on #130
Parser version updated to 1.1.14 in the raml1.0 branch.

@jy95, can you confirm that it solved this issue?

[2017-02-25 00:12] zero51 commented on #127
@jstoiko: Ah, I just uninstalled the core lib. All looks good now. Thanks!

[2017-02-25 00:19] zero51 commented on #127
BTW, just tried the RAML parser directly, and I get no errors. The warnings are still displayed by Osprey though.

[2017-02-25 00:22] jstoiko commented on #127
that's odd. the version of the parser has just been bumped to 1.1.14 in Osprey which is the lastest release. did you uninstall and reinstall that dependency as well? can you check which version of the parser is installed?

[2017-02-25 00:27] zero51 commented on #127
[code]

[2017-02-25 00:43] jstoiko commented on #127
when you're testing with the parser directly, are you using the development version or the same 1.1.14?

[2017-02-25 00:47] zero51 commented on #127
Same version, same RAML definition.

[2017-02-25 00:50] jstoiko commented on #127
would you mind sharing you RAML?

[2017-02-25 01:04] zero51 commented on #127
Can I email it?

[2017-02-25 10:31] jy95 commented on #130
I tried, still nothing ... (I think their develop branch fixes a lot of mess in parser 1.1.14 ^^)

Only raml2obj has worked ... If https://github.com/mulesoft-labs/osprey-method-handler merge the RAML 1.0 pull request is merged and I got the new version, I can finish the little wrapper (maybe on NPM if I think it worthy XD) I am working on (fast explain : it will read the raml file , get the data

[2017-02-27 06:29] #128 closed

[2017-02-27 06:30] #126 closed

[2017-02-27 06:30] #127 closed

[2017-02-27 16:52] jy95 opened #133 "BadRequestError : Request failed to validate against RAML definition"
I have a raml file for a JSON REST API :

Api.raml
[code]

requests.raml
[code]

answers.raml
[code]

I got this screen :
![error](https://cloud.githubusercontent.com/assets/9306961/23370071/cac7e052-fd13-11e6-8d03-3dc45e696ae7.png)

If I read the [documentation](https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md#headers) , it is OPTIONAL ... so any idea ?

PS: The probl

[2017-02-28 05:23] #130 closed

[2017-02-28 05:33] jstoiko commented on #133
seems to be an issue with the `application/json` defined in one of your bodies. can you provide the RAML of you libraries?

[2017-02-28 08:29] jy95 commented on #133
[requests.raml](https://github.com/mulesoft/osprey/files/806091/requetes.txt)

Yesterday, I tried to set :

`headers:
            Content-Type:
              enum: ["application/json"]
              required: true`

for each request and now I got 400 error code ...

[2017-02-28 08:42] jy95 commented on #130
Thanks, They finally make it ... I will try

[2017-02-28 10:26] jy95 commented on #133
Several tests later , I got this :

When I started the server :

![header problem 1](https://cloud.githubusercontent.com/assets/9306961/23401632/b29437f2-fda8-11e6-86ca-c1e3451201b4.png)

When I tried a request :

![header problem 2](https://cloud.githubusercontent.com/assets/9306961/23401633/b2945c28-fda8-11e6-927f-8c161e18afe8.png)

[2017-02-28 11:12] cmd-johnson opened #134 "Resource Type Parameter not being properly handled"
I'm currently testing the raml1.0 branch and encountered this error while testing resource types:

[code]

Looks to me like `<<resourcePathName>>` is not properly replaced with `test` before it is passed on to the datatype-expansion module.

I managed to produce this error with this example:

### index.js
[code]

### test.raml
[code]

[2017-03-01 08:29] jy95 commented on #133
Here is the content of validation, if it could help

![header problem 3](https://cloud.githubusercontent.com/assets/9306961/23451739/899c4650-fe61-11e6-99e7-ebf647edcaec.png)

[2017-03-02 08:31] jy95 commented on #133
Any idea ? Still the case ...
![error](https://cloud.githubusercontent.com/assets/9306961/23499072/e5cf162c-ff2a-11e6-8999-2d2f2e9dae85.png)

[2017-03-02 10:25] jy95 commented on #133
The fix I found (cannot make a pull request or commit on osprey-error-handler) :

[code]

[2017-03-02 23:09] nnoto opened #135 "Error when repeat:true and required:false"
I have the definition:
[code]
Up until just a few days ago, the API calls were working fine, with or without a supplied query parameter.
Now I receive the following error when /catalogs is called without a queryParameter, despite required being false:
[code]

If I remove the 'repeat:true', the call succeeds.

[2017-03-02 23:28] jstoiko commented on #135
can you post your whole RAML?

[2017-03-03 00:44] nnoto commented on #135
Definitely, the error can be reproduced with:
#%RAML 0.8
title: tps
version: 0.1
mediaType: application/json

/catalogs:
  get:
    queryParameters:
      aType:
        type: string
        required: false
        repeat: true

Thanks!

[2017-03-03 01:05] nnoto commented on #135
This began happening in the past few days. It seems raml-validate 1.1.0 is now being loaded instead of 1.0.6. It appears the only module that requires raml-validate 1.1.0 is raml-path-match. raml-path-match is version 2.1.0 now, whereas it was 2.0.0 when previously working.

[2017-03-03 01:48] jstoiko commented on #133
I was able to make your example work in Osprey without altering `Osprey` or `osprey-method-handler` by:
1) adding the missing `#%RAML 1.0` header to `api.raml` (probably a copy/paste oversight)
2) removing the `Content-Type` header definition. not sure why it was there in the first place, I believe you added it at some point while attempting to make things work

then, here's how I tested:

`api.ra

[2017-03-03 05:37] jstoiko commented on #134
The underlying library that expands datatypes after it parses the RAML file and before it loads it into Osprey does not support `<<resourcePathName>>` as a value of `type`. It would be a nice feature to have though. I created an [issue](https://github.com/raml-org/raml-parser-toolbelt/issues/53).

BTW, you might want to define your `test` type some properties, i.e.:
[code]

In the meantime, you'll

[2017-03-03 06:27] jstoiko commented on #135
I cannot reproduce. Here's how I tested:

`index.js`:
[code]
I started the server:
[code]

and then I made the following request:
[code]

The timing that you describe seems to correspond to the [latest release](https://github.com/mulesoft/osprey/releases/tag/v0.4.0). It would probably be a good idea to peg the versions you are using in your project's `package.json` just to be safe.

[2017-03-03 08:18] jy95 commented on #133
Thanks for your big help ...
For the headers, I was following the example here (file in RAML 0.8 but headers are still possible in RAML 1.0) : http://static-anypoint-mulesoft-com.s3.amazonaws.com/API_examples_notebooks/raml-design3.html

It is working but I doubt if the header issue still exists : the one I fixed with : https://github.com/mulesoft-labs/osprey-method-handler/issues/21#issuecomment-

[2017-03-03 11:32] cmd-johnson commented on #134
Okay, the `<<resourcePathName>>` case might be a little special.

However I did some digging, and if I'm not mistaken, the RAML 1.0 specification allows for this syntax:
[code]
After stepping through osprey's code, I found that in the `_expand` function in `expandTypes` in `lib/server.js`, osprey tries to expand the `<<resourceType>>` parameter from the example above within the `resourceTypes` obj

[2017-03-03 13:57] jy95 opened #138 "RAML 1.0 path for route"
I got a problem with
 osprey : /whateverPathWithUriParamaters/{whatEverNameYouLikeForParameter} returns me
[code]
A live example :
![bug](https://cloud.githubusercontent.com/assets/9306961/23554205/62d56c58-0024-11e7-9218-7c903f6e1090.png)

But with basic test with osprey-router 0.5.0, no problem with this

First step, maybe accept my pull request to upgrade osprey-router to 0.5.0 (who knows XD):

[2017-03-03 18:22] jstoiko commented on #138
I cannot reproduce.

`api.raml`:
[code]

`index.js`:
[code]

[code]

[code]

Thanks for pointing out the `osprey-router` version. We'll fix it and probably do a patch release of Osprey at some point.

[2017-03-03 18:53] jstoiko commented on #134
You are totally right!

Thanks for this. I'll review/comment your PR.

[2017-03-03 20:50] nnoto commented on #135
I have Osprey explicitly set at version 0.3.2.
Osprey has the sub dependency osprey-router, which, in this case is set to "^0.4.0".
Since 0.4.0 and 0.5.0 are the most current releases, 0.4.0 is being used for version 0.3.2 of osprey.
Osprey-router has the sub dependency raml-path-match, which, in this case is set to "^2.0.0".
Prior to 3 days ago, 2.1.0 didn't exist, so 2.0.0 was being used. Howeve

[2017-03-03 22:18] jy95 commented on #138
![api](https://cloud.githubusercontent.com/assets/9306961/23571094/98ddf4a8-0067-11e7-8888-fbe165749860.png)

If you need example :

api.raml :

[code]

requests.raml

[code]

answers.raml :

[code]

[2017-03-03 23:09] cmd-johnson commented on #134
Sure thing, should I just put them to the type tests or should I add a new category for resource types?

[2017-03-04 00:24] jstoiko commented on #135
Now I understand what's happening. We use carets across the board so npm is installing whatever latest minor dependencies it finds.

It shouldn't have broken your code though so we should definitely look into this.

In the meantime, I suggest you either use the latest version of Osprey which I tested works with your RAML of explicitly set the versions of Osprey@0.3.2 and its dependencies (raml-pat

[2017-03-04 00:57] nnoto commented on #135
Got it, thanks for looking into it!
I'lll explicitly set the version of Osprey and its dependencies in package.json as you suggested for now

[2017-03-05 11:49] cmd-johnson commented on #134
Looking even further into the issue, I don't see anymore why you're expanding types at all - `raml-1-parser` takes care of all that and even the extensive [GitHub API example](https://github.com/raml-apis/GitHub) turns out exactly the same as before calling `expandTypes` in `server.js`.

[2017-03-06 16:24] jy95 commented on #138
Still no idea why this happend ?

[2017-03-06 16:42] geo42 opened #139 "Increased memory usage from 10Mo to 200Mo"
Last week I downloaded my node modules from scratch and my application used 200 extra Mo of RAM.

So i made in simple node app with a single line : require('osprey'); (which is in version 0.3.2)

Usually on my device, osprey uses around 10MB or RAM, and now it's around 200MB

I checked the module dependencies, and i think the problem comes from
raml-path-match@2.1.0 and
raml-validate@1.1.0

When i

[2017-03-06 18:25] jstoiko commented on #139
Thanks for reporting.

I'm assuming your RAML is 0.8 since you are using `Osprey@0.3.2`. I would be interested to know what happens when you use `Osprey@0.4.0` (latest release) with that same RAML.

Then I would also be interested to know what happens when you convert your RAML to 1.0 and use `Osprey@0.4.0`.

I hope I'm not asking too much. This would be super useful!

[2017-03-06 18:28] geo42 commented on #139
I'm not using any RAML, I use a test file and only require osprey. I'm not doing anything with osprey.

[2017-03-06 19:17] jstoiko commented on #139
what do you pass to Osprey?

[2017-03-06 22:27] jy95 commented on #138
Still no idea why this happend ?

[2017-03-07 09:28] geo42 commented on #139
This is the minimal code I run :

`var osprey = require('osprey');

var cb = function () {
 console.log('fin');
}

setTimeout(cb, 10000);`

I pass nothing to osprey, the only thing I do is require it

Same behavior unsing osprey 0.4.0
My node version is 6.9.3

[2017-03-07 11:22] jy95 commented on #138
Still no idea why this happend ?

[2017-03-07 15:39] jy95 commented on #138
Still no idea why this happend ?

[2017-03-07 19:00] brenda commented on #135
Hi!

I have the same issue with `required: false & repeat: true`

My files:

`trait searchable.raml`:

[code]

RAML:
[code]

I'm receiving this message in all endpoints:
=> `error:  BadRequestError: Request failed to validate against RAML definition`

Detail:
[code]

Packages versions:

[code]

[2017-03-07 19:17] blai opened #140 "RAML data types with empty objects are not handled properly"
This works
[code]

while this does not:
[code]

it throws the following exception
[code]

[2017-03-07 22:46] jy95 commented on #138
Still no idea why this happend ?

[2017-03-08 05:34] jstoiko commented on #135
these two PATCH release should fix the issue:
https://github.com/mulesoft-labs/node-raml-validate/releases/tag/v1.1.1
https://github.com/mulesoft-labs/raml-path-match/releases/tag/v2.1.1

[2017-03-08 07:54] jy95 commented on #138
Still no idea why this happend ?

[2017-03-08 14:43] jy95 commented on #138
Still no idea why this happend ?

[2017-03-08 16:46] jy95 commented on #138
Still no idea why this happend ?

[2017-03-08 17:10] #135 closed

[2017-03-08 20:22] jy95 commented on #138
Still no idea why this happend ?

[2017-03-09 08:11] jy95 commented on #138
Still no idea why this happend with the example I provide you ?

[2017-03-09 13:13] jy95 opened #141 "Provide more OAuth 2.0 documentation for Osprey"
Hello,

I just read the OAuth 2.0 documentation for Osprey (here : https://github.com/mulesoft/osprey#oauth-20)

I understand in this example that Osprey use a mongoDb database to check user credentials.
The part I didn't understand was this part of the code :

[code]

I read that Osprey security use oauth2orize : https://github.com/jaredhanson/oauth2orize
so How can I be sure AuthorizationCode an

[2017-03-09 15:32] jy95 commented on #138
close this issue, postman have made me a wrong error

[2017-03-09 17:04] jstoiko commented on #138
I'm glad you fixed your issue

[2017-03-09 17:05] #138 closed

[2017-03-10 08:13] geo42 commented on #139
Did you get this behaviour as well ?

[2017-03-11 00:01] jstoiko commented on #139
I couldn't reproduce.

[code]

What are you using to measure memory?

[2017-03-13 05:02] #105 closed

[2017-03-13 05:02] #81 closed

[2017-03-13 05:03] jstoiko commented on #81
v0.4.0 with RAML 1.0 [released](https://github.com/mulesoft/osprey/releases/tag/v0.4.0)

[2017-03-13 05:04] #90 closed

[2017-03-13 05:07] jstoiko commented on #110
v0.4.0 with RAML 1.0 support has been [released](https://github.com/mulesoft/osprey/releases/tag/v0.4.0)

[2017-03-13 05:07] #110 closed

[2017-03-13 09:25] geo42 commented on #139
Using the same test as yours :

node --expose-gc

{ rss: 27435008, heapTotal: 11571200, heapUsed: 5737312 }

{ rss: 277581824, heapTotal: 104144896, heapUsed: 71367736 }

I'm usually using a lts version of Node on a Debian 8.0 using virtualbox, and aws
The previous result is displayed on a 6.10.0

With a 7.7.2 :

node --expose-gc

{ rss: 28975104,
  heapTotal: 7258112,
  heapUsed: 4560896,
  exter

[2017-03-14 17:56] ty10r opened #142 "Is osprey routing required now?"
In osprey before supporting RAML 1.0, our express routes were unaffected by the use of Osprey.

The documentation now seems to suggest that projects must use Osprey routes. Is this true?

`/user/:userId` used to be an acceptable route to use and Osprey would still act as a middleware for the route.
`/user/{userId}` seems to be required now.

Is this true? If so, why?

[2017-03-14 18:02] jstoiko commented on #142
Are you referring to the README? Not much [changed](https://github.com/mulesoft/osprey/commit/6504ab08bcbb5c41a73a4b636dd95da5c3a208ed) there.

Can you show me an example of what used to work before (in v0.3.2) that doesn't work now (in v4.0.0)?

[2017-03-14 18:08] ty10r commented on #142
I tagged this as a question because I'm not sure if it doesn't work.

Sounds like it should work to use express routes in our routers still. I'll look into it. Thanks for the response.

[2017-03-14 18:08] #142 closed

[2017-03-16 11:12] geo42 commented on #139
Does it help ? What extra information should I provide ?

[2017-03-16 18:09] jstoiko commented on #139
I still can't reproduce the 200MB spike even with the same node version. I get a 100MB spike and then it starts going down after about 30sec, 90MB, after 2-3 min, it's down do 60MB, etc.

Does it ever go down on your environment?

[2017-03-17 11:42] geo42 commented on #139
I was surprised that you could not reproduce, so I've been investigating a bit further using several OS on the latest node version :

windows 7
node 7.7.3

C:\Users\IEUser\Desktop\node>node

{ rss: 16502784,
heapTotal: 4886528,
heapUsed: 2801180,
external: 9311 }

undefined

{ rss: 79564800,
heapTotal: 63905792,
heapUsed: 49870048,
external: 543810 }

After a while...

{ rss: 63475712,
heapTotal:

[2017-03-17 20:23] jstoiko commented on #139
Any chance you could redo the same test after uninstalling the `raml-1-parser` and `raml-typesystem`? These are the only two dependencies that have been added to `Osprey`. It should let you do a `require()` without those dependencies.

[2017-03-20 09:14] geo42 commented on #139
Hello,

On the linux Machine, I first removed `raml-1-parser`, the mory kept going up 200MB.
After removing `raml-typesystem`, I could not require osprey anymore.

Error: Cannot find module 'raml-typesystem'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)

[2017-03-29 12:55] jy95 opened #143 "OAuth 2.0 not working"
Hello,

In your documentation, you show this example :

[code]

The problem in this raml is authorizationGrants :  in 0.8, the possible value are [ code, token, owner, credentials ] , not in 1.0.

In raml 1.0 , I got this message :
[code]

Nothing to say if I changed that by raml 1.0 authorizationGrants : Osprey throw me the error : unknown grantType ...

[2017-03-31 09:09] geo42 commented on #139
I saw that the new version osprey-router@0.5.0 was available, so I tried it with osprey@0.4.0
It keeps using the same amount of memory on linux.

[2017-03-31 17:46] jstoiko commented on #139
I'm not sure what's causing this.

If I run the same test by requiring `raml-path-match` and `raml-validate` individually, the memory footprint is fine.

Can you try again after running `npm dedupe` and see if that helps. Also you can try upgrading the parser - I believe the latest version is `1.1.9` - to see if that helps too.

[2017-04-04 09:19] geo42 commented on #139
I'm was currently using the latest version : raml-1-parser@1.1.19.

When I load raml-validate by itself, memory is up to 130 MB

{ rss: 28753920,
  heapTotal: 7258112,
  heapUsed: 4472368,
  external: 32124 }

undefined

{ rss: 129048576,
  heapTotal: 28839936,
  heapUsed: 20844120,
  external: 183168 }

When I load raml-path-match : 130 MB

{ rss: 28766208,
  heapTotal: 7258112,
  heapUsed: 44443

[2017-04-08 04:55] #134 closed

[2017-04-08 05:04] jstoiko commented on #140
@blai: this is fixed in v0.4.1 newly released

[2017-04-08 05:04] #140 closed

[2017-04-26 10:53] AndriiDidkivsky opened #144 "miltiple raml files"
Is there any way to handle multiple raml files?

[2017-04-26 11:25] AndriiDidkivsky commented on #144
resolved.

[2017-04-26 11:25] #144 closed

[2017-05-02 15:09] #133 closed

[2017-05-02 15:30] jy95 opened #145 "Cannot convert undefined or null to object"
Hello,

I discover a issue with optional object :

Here is my traits :

-  queryParameters.raml : [ queryParameters.raml](https://github.com/mulesoft/osprey/files/970898/traits.txt)
- answers.raml : [answers.raml](https://github.com/mulesoft/osprey/files/970921/answers.txt)

My main raml (in its short size version) :
[code]
I got this message when testing :
[code]

and the result
[code]

If I add

[2017-05-04 04:29] andrew-kratik commented on #115
Hi team
Tried the same example as @jstoiko and got error
[code]
person.json
[code]
running `osprey-mock-service -f api.raml -p3000`
result:
[code]

using osprey-mock-service@0.2.1

[2017-05-04 20:41] jstoiko commented on #115
@andrew-kratik: it works for me using the latest version of Osprey and osprey-mock-service.

[code]

I also tried using the same version of node as in your snippet (v7.8.0) and it worked fine. I suspect an issue with your global dependencies. Maybe try `npm uninstall -g osprey-mock-service` and then `npm install -g osprey-mock-service` again?

[2017-05-05 03:56] andrew-kratik commented on #115
hi @jstoiko, yes it worked for me as well, but when I change line 32 from ``schema: PersonInline`` to ``schema: PersonInclude`` so it uses **included** schema but not **Inlined** as in original example - get error ``Unable to compile JSON schema for post /person: Unexpected token P in JSON...`` (that's why I pasted listing to previous comment)

[2017-05-06 12:47] andrew-kratik commented on #115
Tried to reinstall, but the new version of ``osprey-mock-service`` has the same version as old. And issue the same when starting
+-- osprey-mock-service@0.2.1

the list of all global packages:
+-- abao@0.5.0
+-- api-designer@0.4.1
+-- localapi@1.6.0
+-- npm@4.2.0
+-- osprey-mock-service@0.2.1
+-- raml-mockup@0.2.1
+-- raml-server@0.1.6
+-- raml2boot@0.1.8
+-- raml2html@3.0.1
+-- raml2html-markdown

[2017-05-06 22:01] jstoiko commented on #115
I tried that but it still works (no errors).

Can you share the output of `npm ls -g | grep osprey`?

[2017-05-10 00:07] amcdnl commented on #104
@thejmazz - did you ever finish the KOA version?

[2017-05-10 01:47] jstoiko commented on #104
The latest release added RAML 1.0 support. I realized I should have closed this issue a while ago.

[2017-05-10 01:47] #104 closed

[2017-05-10 17:12] thejmazz commented on #104
@amcdnl nope, but I ended up making POC [raml2fetch](https://github.com/thejmazz/raml2fetch) using the js parser (and the actual AST nodes not just the JSON version like raml2html does!), haven't had time to improve it since though. something like that that ties into express/koa routing, automatically generated tests (checking if response matches example from RAML or something basic like that), ar

[2017-07-27 03:26] agalazis commented on #98
No sure if that's a good idea middleware makes more sense people may want to combine it with other controllers like inversify utils controller etc

[2017-08-01 14:47] primeminister commented on #144
@AndriiDidkivsky how did you do that? Looking for it in the docs, but cannot find it.

[2017-08-01 15:01] AndriiDidkivsky commented on #144
@primeminister , i use [osprey-mock-service](https://github.com/mulesoft-labs/osprey-mock-service) and call it multiple times for each raml file. This solution is enough for my use case. Look [here line 73](https://github.com/AndriiDidkivsky/raml-gitlab-mock/blob/master/server.js#L73). Of course you can't use it.

[2017-08-02 09:26] Xotabu4 commented on #131
Any updates on this? I have same issue, but using proxy from command line

[2017-08-08 04:21] jstoiko commented on #145
Hi @jy95, the issue seems resolved in the parser. Did it solve your issue above?

[2017-08-08 17:22] jy95 commented on #145
Not tested : I didn't touch RAMl stuff since 2-3 months

[2017-08-17 19:29] ruudschouten opened #146 "Unable to install new themes on userstyles.com"
When I click the button to install the theme I don't get any kind of popup or anything really, it just does nothing.

[2017-08-17 19:47] #146 closed

[2017-09-04 14:53] jmesters opened #147 "Basic HTTP Authentication: add the support for the passport option "passReqToCallback""
For basic authentication, [Passport-http](https://github.com/jaredhanson/passport-http/blob/master/lib/passport-http/strategies/basic.js) has the option *passReqToCallback* to add *req* as the callback's first parameter.

I'd like to use it in the options defined in Osprey when calling *loadFile*.
Something like that:
[code]

From what I can see in Osprey's [security handler](https://github.com/mu

[2017-09-04 16:03] sichvoge commented on #147
Thanks for the suggestion @jmesters. We will take a look at soon as possible. Currently, a bit swamped with other things. So apologies for any delays.

[2017-09-05 21:26] jstoiko commented on #147
@jmesters, you're right. It would be nice to support that parameter in Osprey since the underlying lib, passport-http, [supports it for Basic auth](https://github.com/jaredhanson/passport-http/blob/master/lib/passport-http/strategies/basic.js#L52) (passes it to passport).

Feel free to submit a PR if you have time.

[2017-09-05 21:30] jstoiko commented on #147
* note that you can also have your own [custom security scheme](https://github.com/mulesoft/osprey#custom-security-schemes) in which case you'd have access to the request in the handler function. Might not be what you want but adding this as a side note for the record.

[2017-09-06 09:40] jmesters commented on #147
Thanks, I've created my first ever public pull request : #148

[2017-09-27 13:08] whampop commented on #125
Poke. Would the osprey team be open to contributions for this feature?

[2017-09-27 16:27] jstoiko commented on #125
For sure!

[2017-10-05 21:34] binarykitchen opened #149 "Unable to install with yarn"
[code]

... above console output explains it all.

[2017-10-05 21:37] binarykitchen commented on #149
cause is probably this one https://github.com/yarnpkg/yarn/issues/4266

[2017-10-06 02:22] binarykitchen commented on #149
figured out the solution myself. since i had a private registry configured, i had to add this line at top of my `.npmrc`:

[code]

[2017-10-06 02:22] #149 closed

[2017-10-06 03:45] binarykitchen opened #150 "How to ignore "... does not exist in the RAML for this application" errors"
Because we have some proxy handlers further down the road processing these plus a catch-all handler for other purposes.

[2017-11-16 12:34] timur-han opened #151 "Included schema does not work"
Hello,

I include a schema on my path using the following directive:
[code]
However it is somehow not used during the validation. I receive the following error:

"errors":[{"type":"json","keyword":"type","schema":"unknown","data":{"userManagementMessage":{"messageType":"a"}},"message":"Invalid type expected unknown"}],"stack":"BadRequestError: Request failed to validate against RAML definition\n

[2017-11-16 12:42] timur-han opened #152 "Additional documentation of the project?"
Hello,

Is there any documentation of this project somewhere else? The readme.md provided is not comprehensive / self-contained. The configuration effort for a new user is not that less and the documentation is not explanatory for this. One needs to check the actual implementation to understand what is actually meant and it is not always sufficient to get the things working.

[2017-11-17 09:08] timur-han opened #153 "Is this project still actively maintained or already deprecated?"
Hello,

Is this project still actively maintained / developed? The project activity seems to be more deprecated. This question is quite relevant for potential users / adopters, that's why I am asking.

[2017-11-17 20:26] jstoiko commented on #153
It is. Sometimes projects get to a certain maturity level and don't get as many commits/releases as before. The latest few releases of Osprey brought RAML 1.0 support, that was a major one.

If you feel that some features are missing or would be worth discussing, you are welcome to add your contribution or start a discussion here. I hope that helps.

[2017-11-17 20:32] jstoiko commented on #152
Looking at the README, I find it quite comprehensive, it may even arguably be too intimidating for a first-time user IMHO.

Personally, I'd like to see more practical examples in the `examples/` folder to cover all the features. Is that what you have in mind? If not, can you point-out to what you've had to look in the "actual implementation" that was not in the README?

[2017-11-17 22:40] jstoiko commented on #151
This seems to be an issue with `osprey-method-handler` which makes some gymnastic with `type` and `schema` properties.

A workaround would be to either use a RAML type like you mentioned or use the `schema` property.

E.g.
[code]

[2017-11-21 09:57] dploeger opened #154 "Datatype-expansion version handles AdditionalProperties false"
I haven't debugged that in detail and the commit log of the datatype-expansion module is long...

However, in the currently used 0.1.0 version, the setting of "AdditionalProperties" at least was not expanded correctly and thus not handled by the router.

Using the current 0.2.5 works in my environment correctly. I'll submit a PR for this where hopefully all tests succeed. 😄

[2017-11-23 10:06] timur-han commented on #152
In the documentation, you mention:

I could not find any further information regarding how to do that.

As I experienced a problem with external JSON schemata, I tried to use the following information:

`osprey.addJsonSchema(schema,` key)

However, I was not sure if the schema is the path to the schema and what the key was supposed to be as the information was missing. Then I investigated the actu

[2017-12-14 13:39] fedotov commented on #153
Does response validation implementation planed in near future?

[2018-01-21 23:27] #145 closed

[2018-01-21 23:29] #141 closed

[2018-01-23 22:42] jstoiko commented on #153
There hasn't been a need for it in the projects that I have been involved but I can see how this may be useful in some cases. @timur-han @fedotov: if you have a need for it, feel free to submit a PR.

[2018-01-24 07:41] guseinovmg opened #156 "Is it possible to create sync version of loadFile method?"
In my project it will be more convenient to use sync loading.
Are there any obstacles to add sync version?
I am going do it myself, just want to be sure that it make sense

[2018-01-24 13:45] timur-han commented on #153
Okay, just to clarify this open question: The project is actively maintained except that features planned, such as "Built-in Response Handling Coming soon", and certain bug fixes need to be done by the reporters themselves :)

[2018-01-24 16:02] jstoiko commented on #153
at the end of the day, maintainers are users and vice-versa. why draw a line? isn’t this what Open Source is all about?

[2018-01-24 18:55] timur-han commented on #153
Yea that depends on how you define a maintainer.  For me there is a
difference between a commiter, a contributor, a user, and a maintainer but
probably there is no need for such a discussion here :)

https://opensource.guide/leadership-and-governance/

Am 24.01.2018 17:04 schrieb "Jonathan Stoikovitch" <notifications@github.com

at the end of the day, maintainers are users and vice-versa. why draw

[2018-01-27 02:07] ForsakenHarmony commented on #156
Would probably be possible
https://github.com/mulesoft/osprey/blob/master/osprey.js#L37
just change that to [`loadRAMLSync`](https://raml-org.github.io/raml-js-parser-2/modules/_src_index_.html#loadramlsync) and remove the `.then`

[2018-01-27 02:08] ForsakenHarmony commented on #156
You're more than welcome to submit a PR with a `loadFileSync` function added

[2018-03-07 15:10] #143 closed

[2018-03-19 15:31] Georg-Zweyer opened #159 "OAuth 2.0 grant type naming missmatch"
The grant types supported by Osprey security:

`[code, token, owner, credentials]`

are not the official OAuth 2.0 grant types and also not valid RAML 1.0:

`[authorization_code, password, client_credentials, implicit]`

[2018-03-23 16:10] brevity commented on #111
@jstoiko : this can be closed, no?

[2018-04-02 21:47] jstoiko commented on #79
@cpetrov: #160 should address your issue.

[2018-04-02 23:27] #147 closed

[2018-04-02 23:28] #154 closed

[2018-04-02 23:51] #79 closed

[2018-04-03 00:04] jstoiko commented on #151
This is fixed in `v0.5.0`

[2018-04-03 00:04] #151 closed

[2018-04-03 00:07] jstoiko commented on #139
Closing this issue as there hasn't been any activity in a while. Feel free to re-open.

[2018-04-03 00:07] #139 closed

[2018-04-03 00:13] jstoiko commented on #159
It seems like you are right. This may be something inherited from RAML 0.8 that was changed in 1.0 [1]. @G-2-Z: are you interested in submitting a PR for this?

[1] https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#oauth-20

[2018-04-05 11:46] G-2-Z commented on #159
Not right now, but i might have to work on it the next weeks. If i find the time to make it generic i will submit one.

[2018-05-04 00:38] #153 closed

[2018-05-04 00:46] jstoiko commented on #131
This looks like a legit error coming from NodeJS. TLS validates the certificates and since https://api.example.org doesn't resolve/exist, there is not certificate to validate. Have you tried passing a valid (https) URL to `-a`?

[2018-05-04 00:47] jstoiko commented on #115
Closing this old issue since it cannot be reproduced. Please re-open a new issue if it can be reproduced with the latest version of Osprey.

[2018-05-04 00:47] #115 closed

[2018-05-04 00:48] jstoiko commented on #111
Yes, closing.

[2018-05-04 00:48] #111 closed

[2018-05-04 05:10] jenschude commented on #131
Yes. It‘s not about the invalid uri. As the error is saying it can‘t authenticate localhost.

Osprey is no full http proxy. It‘s more an API gateway. So when trying to route traffic through osprey I use the localhost:3000 as my target API uri. And osprey should proxy valid traffic to the uri provided in the -a flag.

But as osprey is not correcting the http headers the proxying does not work when

[2018-08-02 20:04] dploeger opened #165 "Varying error handling throughout Osprey"
Hmm... maybe I simply don't get it, but why are errors handled differently throughout the osprey-method-handler, osprey-router and osprey-server?

I would believe that osprey would format the error messages according in that way, that its own error handler could format them, but this only seems to be the case in osprey-method-handler when it's calling createValidationError. Even there, some errors

[2018-09-11 08:47] greenkeeper[bot] opened #167 "An in-range update of debug is breaking the build 🚨"
## Version **3.2.0** of **debug** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fdebug-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmedia/debug>debug</a>

[2018-09-17 10:57] amiiy commented on #156
Hi. can I make a PR for that?

[2018-09-22 08:55] amiiy commented on #156
I add new `loadFileSync` method. would you look at it? and if it's correct I should open a pull request?
[commit](https://github.com/amiiy/osprey/commit/2ce6245e13220ceba37c48c01b31f3739843bc92)

[2018-09-25 06:52] amiiy commented on #156
#169

[2018-10-31 14:32] hari9908 opened #170 "Example application guide"
Hi,

I'm new to the ospray concept.
**I have done following steps:**
1. I have downloaded code and installed the module globally using `npm install osprey -g` command.
2.  From the osprey/test/fixtures/ directory i executed  osprey -f `raml08.raml -p 3000 -a localhost:8080` command.
3.  From the browser, I accessed `localhost:3000/query?hello=world` , I'm getting an empty page.
If I did the wrong

[2018-11-15 19:38] tjmcclure0501 opened #171 "Store RAML Across Multiple Files"
I am using a http gateway micro service that enforces security and re-routes all requests to the correct service.  All the other services are not Internet accessible.  Naturally I apply my RAML validation at the HTTP gateway because of this I am required to put all my RAML definitions in a single file.  I have over 10 micro services each with its own API.  I would like to separate the RAML file in

[2018-12-04 04:21] greenkeeper[bot] opened #173 "An in-range update of datatype-expansion is breaking the build 🚨"
## The dependency [datatype-expansion](https://github.com/raml-org/datatype-expansion) was updated from `0.3.5` to `0.3.6`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fdatatype-expansion-0.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

datatype-expansion is a d

[2018-12-04 12:11] postatum opened #174 "Cannot read property 'headers' of undefined when running example"
[code]

[2018-12-07 17:06] robinComa opened #175 "Webpack 4 Error: ENOENT: no such file or directory, scandir '//grant'"
Hello,

I'm trying to build my bundle with webpack and I have this issue :
`
fs.js:904
  return binding.readdir(pathModule._makeLong(path), options.encoding);
                 ^

Error: ENOENT: no such file or directory, scandir '//grant'
    at Object.fs.readdirSync (fs.js:904:18)
    at Object.<anonymous> (/Users/robincomadelperier/Documents/Workspace/airbus-helicopters/webtek-api/dist/bundle.js

[2018-12-07 22:08] greenkeeper[bot] opened #176 "An in-range update of osprey-method-handler is breaking the build 🚨"
## The dependency [osprey-method-handler](https://github.com/mulesoft-labs/osprey-method-handler) was updated from `0.12.1` to `0.12.2`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fosprey-method-handler-0.12.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

osprey-m

[2018-12-07 22:12] greenkeeper[bot] opened #177 "An in-range update of request-error-handler is breaking the build 🚨"
## The dependency [request-error-handler](https://github.com/mulesoft-labs/node-request-error-handler) was updated from `1.1.0` to `1.1.1`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Frequest-error-handler-1.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

reques

[2018-12-07 22:17] greenkeeper[bot] opened #178 "An in-range update of osprey-router is breaking the build 🚨"
## The dependency [osprey-router](https://github.com/mulesoft-labs/osprey-router) was updated from `0.6.0` to `0.6.1`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fosprey-router-0.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

osprey-router is a direct dependenc

[2018-12-07 22:19] greenkeeper[bot] opened #179 "An in-range update of osprey-resources is breaking the build 🚨"
## The dependency [osprey-resources](https://github.com/mulesoft-labs/osprey-resources) was updated from `0.8.0` to `0.8.1`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fosprey-resources-0.8.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

osprey-resources is a dire

[2018-12-10 15:57] Mukolajko opened #180 "Problem passing multiple query parameters to resource type as an Object"
Hi. I got issue on validation when trying to pass multiple query parameters to resource in object.

Here is an error that validator produces
`{
code: 'SCALAR_PROHIBITED',
message: 'Property \'queryParameters\' can not have scalar value'
}`

What's weird that if i pass single parameter everything works as expected.

Here is my raml code
[code]
And the resource part
[code]

If queryData have only si

[2018-12-11 23:22] #171 closed

[2018-12-14 19:47] #177 closed

[2018-12-14 19:47] #176 closed

[2018-12-14 19:48] #178 closed

[2018-12-14 19:48] #179 closed

[2018-12-14 19:50] #173 closed

[2018-12-14 19:51] #167 closed

[2019-03-15 15:10] TwoPlusTwoOne opened #182 "Issue with adding a property called `type` to an object"
When defining the body for a post method, if I define the body to be an object with a property called `type`, the behavior is flaky and incorrect.

For example:

[code]

Will create a validation where the body of `/postMethod` is expected to be a `string` rather than an `object`. This is because the parser interprets the `type` property to be referring to the type of the object, rather than a prop

[2019-05-13 04:13] greenkeeper[bot] opened #184 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it is very l

[2019-07-03 06:54] greenkeeper[bot] opened #187 "An in-range update of raml-1-parser is breaking the build 🚨"
## The dependency [raml-1-parser](https://github.com/raml-org/raml-js-parser-2) was updated from `1.1.52` to `1.1.53`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Framl-1-parser-1.1.53).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

raml-1-parser is a direct dependen

[2019-07-10 22:30] #187 closed

[2019-07-15 08:48] Somebi opened #190 "Response validation. When this feature will be implemented?"
Would be really good if that feature would be implemented.
We really need it to migrate from swagger.

Thanks.

[2019-07-18 23:06] greenkeeper[bot] opened #191 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.4` to `6.2.0`.

🚨 [View failing branch](https://github.com/mulesoft/osprey/compare/master...mulesoft:greenkeeper%2Fmocha-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not break

[2019-07-23 14:40] crivera opened #192 "Typescript"
Hi

are there any plans to have a typescript version of this package?

Thanks
Chris

[2019-09-02 21:17] robinComa commented on #175
Same for me ... Any update ?

[2019-09-02 21:18] robinComa commented on #175
Haha 9 month latter I have the same issue with another project 🤣🤣🤣

[2019-09-02 21:36] robinComa commented on #175
webpack-node-externals to remove it from the webpack build

[2019-09-05 03:29] marianomerlo opened #194 "Can not use resource types as"
@jstoiko

Please check out https://github.com/marianomerlo/osprey-type

[2019-10-25 19:41] purefan opened #195 "How to reject requests with extra body parameters?"
given a RAML file with a type and properties, osprey does not reject a request that includes more params than those defined, did I get this right or am I perhaps missing a variable or something?

[2020-01-25 17:58] davidsims9t opened #203 "Query parameter object support + webapi-parser"
Hello,

Is there any support for supporting query strings with object query parameters (i.e. "fields[key1]=1&fields[key2]=1")? It seems like RAML supports this.

Also do you have any idea when raml-1-parser will be replaced with webapi-parser?

Thanks,
David

[2020-03-11 06:09] 1999 opened #208 "describedBy is optional per spec and it's required in osprey"
Hey, thanks for an awesome library!
I have a question about `describedBy`.

each security scheme is supposed to have a "describedBy.headers" which: https://github.com/mulesoft/osprey/blob/master/lib/server.js#L77

And in the spec, it's said to be optional: https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/#security-scheme-declaration

cc @nathys

[2020-07-03 22:43] santro92 opened #220 "Osprey returns "Request is failing to validate against RAML definition" for valid request"
- Discovered this bug while trying to apply osprey validation to some of our endpoints in https://github.com/mulesoft/authentication-server

- Below is the simplified version of the raml file which can be used to reproduce the error. Also, validated that the below raml works using `amf` validator and also using an npm library called `raml-cop`.

- One more observation I made was the RAML works in

[2020-07-28 18:21] jstoiko commented on #220
Fixed in [v1.0.0](https://github.com/mulesoft/osprey/releases/tag/v1.0.0)

[2020-07-28 18:21] #220 closed

[2020-07-28 18:23] jstoiko commented on #194
@marianomerlo: this bugs should be fixed in [v1.0.0](https://github.com/mulesoft/osprey/releases/tag/v1.0.0) which now used `webapi-parser` (AMF-based official RAML parser). Would you mind attempting to bump the version in your project to check that the issue is gone?

[2020-07-28 18:25] jstoiko commented on #203
Osprey [v1.0.0](https://github.com/mulesoft/osprey/releases/tag/v1.0.0) has been released and is now based on `webapi-parser` instead of the now deprecated `raml-1-parser`. I'll leave this issue open so you have a chance to try it and make sure it addresses your concern around query parameters support. Looking forward to here back.

[2020-07-28 18:28] jstoiko commented on #208
Osprey [v1.0.0](https://github.com/mulesoft/osprey/releases/tag/v1.0.0) has been released and the underlying parser has changed so I would recommend you try to reproduce your issue with the latest version and let us know if the issue is still there or not.

[2020-07-28 18:38] #184 closed

[2020-07-28 18:38] #191 closed

[2020-07-28 18:39] jstoiko commented on #182
This should be fixed in [v1.0.0](https://github.com/mulesoft/osprey/releases/tag/v1.0.0)

[2020-07-28 19:05] jstoiko commented on #175
Thanks for the pointer @robinComa. Feel free to submit a PR.

[2020-08-06 17:36] davidsims9t commented on #203
@jstoiko I tried using v1.0.0, but it looks like object query parameters don't seem to work. This is what my RAML definition looks like:

[code]

[2020-08-06 20:39] jstoiko commented on #203
I did a quick test using your definition above and I’m not getting any error. Would you mind sharing more details like the error message and the full RAML/code snippet you’re testing with so I can reproduce it?

[2020-08-17 02:39] 1999 commented on #208
Sorry, "osprey" is not our direct dependency so this is not an easy way for us to go.

[2020-12-24 01:09] #203 closed

[2021-02-07 06:25] rohshall opened #221 "TypeError: request.header is not a function"
After osprey upgrade from 0.6 to 1.0, we get this error when a request is made:

[code]

Digging a little in the code, we found that osprey 1.0 uses newer osprey-method-handler package which sets `header` of the request object with an object that represents sanitized headers:
[osprey-method-handler setting of `header`](https://github.com/mulesoft-labs/osprey-method-handler/blob/master/osprey-metho

[2021-02-08 20:27] rohshall opened #222 "osprey does not honor maxProperties"
We have a POST body defined like this:
[code]

So, if we provide both `userName` and `email`, it should reject the request with 400. But, it does not.